<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:administration) %> </a></li>
  </ul>

  <div id="tabs-1">
    <%= simple_form_for(@admin_setting) do |f| %>
        <%= f.error_notification %>

        <%= f.input :key, :label => I18n.t('key'), :input_html => {:disabled => (!is_master_instance? && !@admin_setting.new_record?), :autofocus => (controller.action_name == 'new')} %>

        <%= tinymce %>
        <%= f.input :value, :label => I18n.t('value'), :input_html => {:class => 'tinymce input-xxlarge', :rows => 30} unless (@admin_setting.key.in? %w(session_maximum_lifetime session_inactivity_timeout password_min_length self-registration allow_feedback audit_history_lifetime online_support disable_access functionnal_version_number)) %>

        <%= f.input :value, :label => I18n.t('value'), :as => 'integer', :input_html => {:class => 'numeric integer optional', :type => 'number', :min => 0, :max => 40} if (@admin_setting.key=='password_min_length') %>

        <%= f.input :value, :label => I18n.t('value'), :as => 'string' if @admin_setting.key=='functionnal_version_number' %>

        <%= f.input :value, :label => I18n.t('value'), :collection => [[I18n.t(:label_disabled), 0]]+ [1, 7, 30, 60, 365].collect { |days| [I18n.t('datetime.distance_in_words.x_days', :count => days), (days).to_s] } if (@admin_setting.key=='session_maximum_lifetime') %>

        <%= f.input :value, :label => I18n.t('value'), :collection => ['manual account activation', 'automatic account activation' ]  if (@admin_setting.key=='self-registration') %>

        <%= f.input :value, :label => I18n.t('value'), :collection => [[I18n.t(:label_disabled), 0]]+[[I18n.t('datetime.distance_in_words.x_minutes', :count => 30), '30']]+ [1, 2, 4, 8, 12, 24, 48].collect { |hours| [I18n.t('datetime.distance_in_words.x_hours', :count => hours), (hours).to_s] } if (@admin_setting.key=='session_inactivity_timeout') %>

        <%= f.input :value, :label => I18n.t('value')+" (True/False)", :as => 'boolean' if (@admin_setting.key=='allow_feedback') %>

        <%= f.input :value, :label => I18n.t('value')+" (True/False)", :as => 'boolean' if (@admin_setting.key=='online_support') %>

        <%= f.input :value, :label => I18n.t('value')+" (True/False)", :as => 'boolean' if (@admin_setting.key=='disable_access') %>

        <%= f.input :value, :label => I18n.t('value'), :collection => [[I18n.t(:label_disabled), 0]]+ [1, 2, 3, 4, 5, 6, 10].collect { |days| [I18n.t('datetime.distance_in_words.x_days', :count => days), I18n.t('datetime.distance_in_words.x_days', :count => days, :locale => :en)] } + [1, 2, 3].collect { |weeks| [I18n.t('datetime.distance_in_words.x_weeks', :count => weeks), I18n.t('datetime.distance_in_words.x_weeks', :count => weeks, :locale => :en)] } + [1, 2, 3, 6, 12].collect { |months| [I18n.t('datetime.distance_in_words.x_months', :count => months), I18n.t('datetime.distance_in_words.x_months', :count => months, :locale => :en)] } if (@admin_setting.key=='audit_history_lifetime') %>

        <%= f.input :description, :label => I18n.t('description'), input_html: { rows: 10, class: "span4" } %>
        <%= f.input :category, :label => I18n.t('category'), collection: ["Autorisations", "Autres"] %>

        <div class="actions-tabs">
          <% if action_name == 'new' || action_name=="create" %>
              <%= submit_tag I18n.t('save_and_create'), :class => 'btn' %>
              <%= submit_tag I18n.t('save'), :class => 'btn' %>
          <% elsif action_name == 'edit' || action_name=="update" %>
              <%= submit_tag I18n.t('save'), :class => 'btn' %>
              <%= submit_tag I18n.t('apply'), :class => 'btn' %>
          <% end %>
          <%= link_to I18n.t('back'), admin_settings_path, :class => 'btn' %>
        </div>
    <% end %>
  </div>
</div>