<% unless @initialization_module_project.nil? %>
  <tr>
    <td class="line_number">
      <h4 class="text-center">0</h4>
    </td>
    <td colspan="<%= @module_positions_x %>">
      <div class="<%=  %> module_project <%= "#{@initialization_module.alias}_#{@initialization_module_project.position_x}_#{@initialization_module_project.position_y}" %> text-center">
        <%= link_to @initialization_module.title, "#" %>

        <% unless @project.locked? %>
          <%= link_to '', '#', :title => "#{@initialization_module.title}: \n #{@initialization_module.description}", :class => "icon-info attribute_tooltip" %>
        <% end %>
      </div>
    </td>
  </tr>
<% end %>