<div class="tabs">
  <ul>
    <li><a href="#uo" data-toggle="tab">Unité d'Oeuvres</a></li>
  </ul>

  <div id="uo">
    <table class="table table-bordered">
      <tr>
        <th><%= I18n.t(:name) %></th>
        <th class="action"><%= I18n.t(:actions) %></th>
      </tr>

      <% @unit_of_works.each do |uow| %>
        <tr>
          <td class="span5">
            <%= uow.name %>
          </td>
          <td class="align-center">
            <%= link_to '', edit_unit_of_work_path(uow, organization_id: uow.organization_id), class: "fa fa-pencil" %>
            <%= link_to '', uow, method: :delete, confirm: I18n.t(:are_you_sure), class: "fa fa-trash" %>
          </td>
        </tr>
      <% end %>
    </table>

    <%= link_to I18n.t(:Create_a_new_Work_Unit), new_unit_of_work_path(organization_id: @organization), class: "btn" %>
  </div>
</div>

