<%= simple_form_for(@estimation_value) do |f| %>

  <%= hidden_field_tag :pbs_project_elt_id, params[:pbs_project_elt_id] %>

  <%= f.input :notes, :as => :text, :input_html => { :value => @text_notes.to_s, :class => 'attribute_note_area'} %>

  <div class="modal-footer-left">
    <%= f.submit I18n.t('save'), :class => 'btn', :id => 'add_notes' %>
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= I18n.t(:cancel) %></button>
  </div>

<% end %>
