<h3>
  Ventilation par activités
</h3>

<% effort = PeAttribute.find_by_alias("effort") %>
<% cev = EstimationValue.where(:pe_attribute_id => effort.id,
                               :module_project_id => current_module_project.id,
                               :in_out => "input").first %>
<% pev = EstimationValue.where(:pe_attribute_id => effort.id,
                               :module_project_id => current_module_project.previous.first,
                               :in_out => "output").first %>
<% component_id = current_component.id %>
<% organization = @project.organization %>
<% wai = WbsActivityInput.where(module_project_id: current_module_project.id, wbs_activity_id: current_module_project.wbs_activity_id).first_or_create! %>
<% coeff = current_module_project.wbs_activity.effort_unit_coefficient.nil? ? 1 : current_module_project.wbs_activity.effort_unit_coefficient %>

<% if cev.string_data_low[component_id].blank? %>
  <% v_low = pev.nil? ? nil : (pev.string_data_low[component_id] / coeff) %>
<% else %>
  <% v_low = cev.nil? ? nil : (cev.string_data_low[component_id] / coeff) %>
<% end %>

<% if cev.string_data_most_likely[component_id].blank? %>
  <% v_ml = pev.nil? ? nil : (pev.string_data_most_likely[component_id] / coeff) %>
<% else %>
  <% v_ml = cev.nil? ? nil : (cev.string_data_most_likely[component_id] / coeff) %>
<% end %>

<% if cev.string_data_low[component_id].blank? %>
  <% v_high = pev.nil? ? nil : (pev.string_data_high[component_id] / coeff) %>
<% else %>
  <% v_high = cev.nil? ? nil : (cev.string_data_high[component_id] / coeff) %>
<% end %>

<%= form_tag save_effort_breakdown_path do %>

  <table class="table table-bordered">
    <tr>
      <th></th>
      <th>Activity Ratio</th>
      <% if current_module_project.wbs_activity.three_points_estimation? %>
        <th>L</th>
      <% end %>
      <th>M</th>
      <% if current_module_project.wbs_activity.three_points_estimation? %>
        <th>H</th>
      <% end %>
      <th><%= I18n.t(:comnent) %></th>
    </tr>
    <tr>
      <td>Effort (<%= current_module_project.wbs_activity.effort_unit %>)</td>

      <td>
        <%= select_tag "ratio", options_for_select(current_module_project.wbs_activity.wbs_activity_ratios.map{|i| [i.name, i.id]}, selected: wai.wbs_activity_ratio_id), readonly: cannot?(:execute_estimation_plan, @project) %>
      </td>

      <% if current_module_project.wbs_activity.three_points_estimation? %>
        <td><%= text_field_tag "values[low]", v_low, readonly: (!current_module_project.wbs_activity.enabled_input || cannot?(:alter_estimation_plan, @project)) %></td>
      <% end %>

      <td><%= text_field_tag "values[most_likely]", v_ml, readonly: (!current_module_project.wbs_activity.enabled_input || cannot?(:alter_estimation_plan, @project)) %></td>

      <% if current_module_project.wbs_activity.three_points_estimation? %>
        <td><%= text_field_tag "values[high]", v_high, readonly: (!current_module_project.wbs_activity.enabled_input || cannot?(:alter_estimation_plan, @project)) %></td>
      <% end %>

      <td>
        <span class="pull-left" >
          <%= link_to (wai.comment.nil? || wai.comment.blank?) ? '----' : wai.comment.truncate(25), "#", title: wai.comment, :"data-toggle" => "modal", :"data-target" => "#comment#{wai.id}", :"data-backdrop" => "static"  %>
        </span>
        <div class="modal fade" id="comment<%= wai.id %>" tabindex="-1" role="dialog" aria-labelledby="comment_label<%= wai.id %>" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="comment_label<%= wai.id %>">
                  <b>
                    <%= wai.wbs_activity.nil? ? '' : wai.wbs_activity.name %>
                  </b>
                </h4>
              </div>
              <div class="modal-body">
                <%= text_area_tag "comment[#{wai.id}]", wai.comment, class: "attribute_note_area" %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ><%= I18n.t(:close) %></button>
                <% if can?(:execute_estimation_plan, @project) %>
                    <button type="submit" class="btn btn-default"><%= I18n.t(:save) %></button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <% if can?(:execute_estimation_plan, @project) %>
    <%= submit_tag I18n.t(:tooltip_run_estimation), class: "pull-right btn btn-mini" %>
  <% end %>
<% end %>