<div class="pull-right total-ratios">
  <%= I18n.t(:sum_of_ratio_values) %>
  <%= @total %> %
</div>
<br>

<table id="table_list_4" class="table table-striped table-bordered table-condensed" style="margin-top:20px;">
  <tr>
    <th><%= I18n.t(:order) %></th>
    <th><%= I18n.t(:name) %></th>
    <th><%= I18n.t(:description) %></th>
    <th><%= I18n.t(:label_ratio_value) %></th>
    <th><%= I18n.t(:set_of_reference_value) %></th>
  </tr>

  <% gap = 1 %>
  <% @wbs_activity_ratio_elements.each_with_index do |wbs_activity_ratio_element, i| %>
    <tr>
      <td>
        <% elt_position =  wbs_activity_ratio_element.wbs_activity_element.position %>
        <%= elt_position.nil? ? nil : ("%g" % (elt_position)) %>
      </td>
      <td style="padding-left:<%=gap+(wbs_activity_ratio_element.wbs_activity_element.depth*2)%>em"><%= wbs_activity_ratio_element.wbs_activity_element.name %></td>
      <td><%= wbs_activity_ratio_element.wbs_activity_element.description %></td>

      <% if ! wbs_activity_ratio_element.wbs_activity_element.has_children? %>
        <td style="text-align: center"><%= text_field_tag "ratio_values[#{wbs_activity_ratio_element.id}]", wbs_activity_ratio_element.ratio_value, :class => 'input-mini', :tabindex => i %></td>
        <td style="text-align: center"><%= check_box_tag 'multiple_references[]', wbs_activity_ratio_element.id, wbs_activity_ratio_element.multiple_references %></td>
      <% else %>
        <td style="text-align: center"> - </td>
        <td style="text-align: center"> - </td>
      <% end %>
      <%= hidden_field_tag 'wbs_activity_ratio_id', wbs_activity_ratio_element.wbs_activity_ratio_id %>
      <%= hidden_field_tag 'wbs_activity_id', wbs_activity_ratio_element.wbs_activity_ratio.wbs_activity_id %>
    </tr>
  <% end %>
</table>

<% if can? :manage_modules_instances, ModuleProject %>
  <%= submit_tag I18n.t(:save ), :id => 'reference_value_submit_save', :class => 'btn' %>
  <%= submit_tag I18n.t('apply'), :id => 'reference_value_submit_apply', :class => 'btn' %>
<% end %>
<%= link_to I18n.t('back'), organization_module_estimation_path(@current_organization, anchor: "activite"), :class => 'btn back' %>

