<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:work_element_type) %> </a></li>
  </ul>
  <div id="tabs-1">
    <%= simple_form_for([@organization, @work_element_type]) do |f| %>
        <%= f.error_notification %>

        <%= f.input :name, :label => I18n.t('name'), :input_html => {:class => 'input-xxlarge', :autofocus => (controller.action_name == 'new')} %>
        <%= f.input :organization_id, as: :hidden, :input_html => {:value => params[:organization_id] }  %>

        <table>
          <tr>
            <td>
              <%= f.input :alias, :label => I18n.t('alias') %>
            </td>
          </tr>
        </table>
        <%= f.input :description, :label => I18n.t('description'), :input_html => {:class => 'input-xxlarge', :rows => 5} %>

        <div class="actions-tabs">
          <% if can? :manage, WorkElementType %>
              <% if action_name.in?(%w(new create)) %>
                  <%= submit_tag I18n.t('save_and_create'), :class => 'btn' %>
                  <%= submit_tag I18n.t('save'), :class => 'btn' %>
              <% elsif action_name == 'edit' || action_name=='update' %>
                  <%= submit_tag I18n.t('save'), :class => 'btn' %>
                  <%= submit_tag I18n.t('apply'), :class => 'btn' %>
              <% end %>
          <% end %>
          <%= link_to I18n.t('back'), edit_organization_path(@organization.id, :anchor => 'tabs-wet'), :class => 'btn' %>
        </div>
    <% end %>
  </div>
</div>
