<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:about) %> </a></li>
  </ul>

  <div id="tabs-1">

    <h2>Estimancy</h2>

    <p>Copyright © 2014 <%= link_to 'Estimancy', 'http://estimancy.com', target:"_blank" %></p>

    <p>
      <%= I18n.t('text_projestimate_open_source') %> <%= link_to 'GNU AGPL-v3', 'http://www.gnu.org/licenses/agpl-3.0.html', target:"_blank" %>
    </p>

    <p>
      <%= I18n.t('text_projestimate_open_source_references') %> <%= link_to '(Estimancy dependencies)', 'dependencies.html', target:"_blank" %>
    </p>

    <hr class="bs-docs-separator">
    <dl class="dl-horizontal">
      <dt>Estimancy version</dt>
      <dd><span class="label label-info"><%= projestimate_version %></span>
      <dt>Mise à jour du</dt>
      <dd><span class="label label-info"><%= update_date %></span>
      </dd>
      <dt>Ruby version</dt>
      <dd><span class="label label-info"><%= ruby_version %> </span></dd>
      <dt>Rails version</dt>
      <dd><span class="label label-info"> <%= rails_version %> </span></dd>
      <dt>Environment</dt>
      <dd><span class="label label-info"> <%= environment %> </span></dd>
      <dt>Database adapter</dt>
      <dd><span class="label label-info"> <%= database_adapter %> </span></dd>
      <dt>URL</dt>
      <dd><span class="label label-info"> <%= root_url %> </span></dd>
      <dt>Browser</dt>
      <dd><span class="label label-info"> <%= browser %> <%= version_browser %> (<%= platform %>)</span></dd>
      <dt>OS</dt>
      <dd><span class="label label-info"> <%= os %></span></dd>
    </dl>

    <h2>Changelog</h2>
    <%= link_to "Voir le changelog sur le wiki", "http://forge.estimancy.com/projects/pe/wiki/Changelog", target: "_blank" %>

  </div>
</div>