<p id="notice"><%= I18n.t(:notice) %></p>

<p>
  <b><%= I18n.t(:name) + ":" %></b>
  <%= @widget.name %>
</p>

<p>
  <b><%= I18n.t(:Icon_class)%>:</b>
  <%= @widget.icon_class %>
</p>

<p>
  <b><%= I18n.t(:Color)%>:</b>
  <%= @widget.color %>
</p>

<p>
  <b><%= I18n.t(:pe_attributes)%>:</b>
  <%= @widget.pe_attribute_id %>
</p>


<%= link_to I18n.t(:Edit), edit_widget_path(@widget) %> |
<%= link_to I18n.t(:Back), widgets_path %>
