<%= simple_form_for @project, :url => update_comments_status_change_path(params[:id]) do |f| %>

  <%= hidden_field_tag :project_id, params[:project_id] %>

  <% if can_alter_estimation?(@project) && can?(:alter_project_status_comment, @project) %>
    <%#= f.input :status_comment, :as => :text, label: I18n.t(:comment), :input_html => { :value => @text_comments.to_s, :class => 'attribute_note_area'} %>
    <%= f.input :new_status_comment, :as => :text, label: I18n.t(:comment), :input_html => { :class => 'span6', :rows => 5 } %>
  <% end %>

  <% if can_alter_estimation?(@project) && can?(:alter_estimation_status, @project) %>
    <%= f.input :estimation_status_id, required: false, label: I18n.t(:change_estimation_status), as: :select, collection: @project.project_estimation_statuses(@organization), :input_html => {:class => 'input-xlarge'}, include_blank: false %>
  <% end %>

  <div class="modal-footer-left">
    <% if can_alter_estimation?(@project) && (can?(:alter_estimation_status, @project) || can?(:alter_project_status_comment, @project)) %>
      <%= f.submit I18n.t('save'), :class => 'btn', :id => 'add_comment_on_status_change' %>
      <button class="btn" data-dismiss="modal" aria-hidden="true"><%= I18n.t(:cancel) %></button>
    <% end %>
  </div>

  <br>
  <div class="widget-box collapsible">
    <div class="widget-title">
      <a href="#collapseIn" data-toggle="collapse"> <span class="icon"> <i class="icon-align-left"></i> </span>  </a>
      <h5> <%= I18n.t(:comment_history) %> </h5>
    </div>

    <div class="collapse in" id="collapseIn">
      <div class="widget-content tab-content">
        <%#= @text_comments.to_s %>
        <%= simple_format(@text_comments.to_s) %>
      </div>
      </div>
    </div>
  </div>

<% end %>
