<%= form_tag save_profiles_per_activity_path do %>
    <%= hidden_field_tag "project_id", params[:id] %>
    <table id="profiles_per_activity" class="table table-striped table-bordered table-condensed ">
      <tr>
        <th></th>
        <th colspan="<%= @project_profiles.length %>"><%= I18n.t(:profiles) %></th>
        <th rowspan="2">Total Ratio per activity/phase (%) </th>
      </tr>
      <tr>
        <th><%= I18n.t(:wbs_activity) %></th>
        <% @project_profiles.each do |profile| %>
            <th><%= profile.name %></th>
        <% end %>
      </tr>

      <% gap = 1 %>
      <% @project_activities.each do |activity| %>
          <% total_percentage_activity = 0.0 %>
          <tr>
            <td style="padding-left:<%=gap+activity.depth%>em"><%= activity.name %></td>
            <% @project_profiles.each do |profile| %>
                <% activity_profile = ActivityProfile.where(project_id: @project.id, wbs_project_element_id: activity.id, organization_profile_id: profile.id).first %>
                <% current_percentage =  activity_profile.nil? ? nil : activity_profile.ratio_percentage %>
                <% total_percentage_activity += current_percentage.to_f %>
                <td style="text-align: center"><%= text_field_tag "activity_profile_percentage[#{activity.id}][#{profile.id}]", current_percentage, :class => 'profiles_per_activity', 'data-activity_id' => activity.id %></td>
            <% end %>
            <td style="text-align: center"><%= text_field_tag "total_ratio_activity[#{activity.id}]", "#{total_percentage_activity}", readonly: true %>%</td>
          </tr>
      <% end %>
    </table>

    <%= submit_tag I18n.t('save'), :class => 'btn ' %>
    <%= submit_tag I18n.t('apply'), :class => 'btn' %>
<% end %>
