<div id="estimation_graph_box">
  <% if current_module_project.pemodule.alias == "guw" %>
    <%= render partial: "guw/guw_unit_of_works/settings" %>
  <% elsif current_module_project.pemodule.alias == "ge" %>
    <%= render partial: "ge/ge_models/settings" %>
  <% elsif current_module_project.pemodule.alias == "expert_judgement" %>
    <%= render partial: "expert_judgement/instances/settings" %>
  <% elsif current_module_project.pemodule.alias == "uow" %>
    <%= render partial: "uow/uow_inputs/settings" %>
  <% elsif current_module_project.pemodule.alias == "cocomo_advanced" %>
    <%= render partial: "cocomo_advanced/input_cocomo/settings" %>
  <% elsif current_module_project.pemodule.alias == "cocomo_expert" %>
    <%= render partial: "cocomo_expert/input_cocomo/settings" %>
  <% end %>
</div>