<%= simple_form_for @project, :url => checkout_path(params[:project_id]) do |f| %>
    <%= f.error_notification %>

    <%= hidden_field_tag(:organization_id, params[:organization_id]) %>
    <%= hidden_field_tag(:project_id, params[:project_id]) %>

    <% if @project.has_children?  %>
        <div style="color: red"><%= I18n.t(:confirm_new_branch_project_checkout) %></div> <br>
    <% end %>

    <div>
      <div class="row">
        <div class="span4"><%= f.input :title, :label => "#{I18n.t 'label_project_name'}", :input_html => {:class => 'input-xlarge'}, disabled: true %></div>
        <div class="span2"><%= f.input :version, label: I18n.t(:current_version), :input_html => {:class => ''}, disabled: true  %></div>
      </div>

      <div>
        <label><%= I18n.t(:new_version) %></label>
        <p><%= text_field_tag "new_version", "", :class => 'input-xlarge' %></p>
      </div>

      <% if @archive_status %>
        <div>
           <label for="archive_last_project_version" class="checkbox">
             <%= I18n.t(:archive_last_project_versions) %>
             <input id="archive_last_project_version" name="archive_last_project_version" type="checkbox" value="yes" />
             <i class="fa fa-info-circle" title="<%= I18n.t(:last_project_versions_will_be_archived) %>"></i>
           </label>
        </div>
      <% end %>
    </div>

    <div>
      <%= tinymce %>
      <label style="margin-top: 10px"><b><%= I18n.t('description') %></b></label>
      <%= text_area_tag "description", @project.description, rows: 5, cols: 150, class: "input-xlarge tinymce" %>
    </div>

    <br>
    <div class="actions-tabs">
      <% if can? :create_project_from_template, Project %>
        <%= f.submit I18n.t('save'), :id =>'checkout_project', :class => 'btn submit_project' %>
        <button class="btn" data-dismiss="modal" aria-hidden="true"><%= I18n.t(:cancel) %></button>
      <% end %>
    </div>
    </div>
<% end %>