<h4 class="ui-widget">&nbsp;<i class="icon-reorder icon-large"></i>&nbsp;<b><%= I18n.t(:project_global_setting) %> </b>
</h4>
<div class="tabs">
<ul>
  <li><a href="#tabs-1"><%= I18n.t(:project_areas) %></a></li>
  <li><a href="#tabs-2"><%= I18n.t(:project_categories) %></a></li>
  <li><a href="#tabs-3"><%= I18n.t(:platform_categories) %></a></li>
  <li><a href="#tabs-4"><%= I18n.t(:acquisition_categories) %></a></li>
</ul>


</div>

