<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:global_permissions) %></a></li>
  </ul>

  <div id="tabs-1">

    <b>
      <%= I18n.t(:text_index_permissions_guidance) %> : <%= @permissions.size %> permissions
    </b>

    <%= link_to I18n.t('new_permission'), new_permission_path, :class => 'btn pull-right' %>

    <%= link_to "Exporter", export_permissions_path, class: "btn pull-right button_margin_right" %>

    <a href="#myWBSModal" role="button" class="btn pull-right button_margin_right" title="Importer et mettre à jour les permissions" data-toggle="modal">
      <%= I18n.t(:import) %>
    </a>

    <div id="myWBSModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <%= form_tag import_permissions_path, :multipart => true, :class => 'simple_form' do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
          <%= file_field_tag :file %>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">
            <%= I18n.t(:close) %>
          </button>
          <%= submit_tag I18n.t(:import), :class => 'btn btn-primary', :onclick => "$('.loading').show();" %>
        </div>
        <div class="loading span11 hide">
          <h4><%= I18n.t(:please_wait_import) %><%= image_tag 'ajax-loader.gif' %> </h4>
        </div>
      <% end %>
    </div>

    <table id="table_list_1" class="table tablesorterPager table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th><%= I18n.t(:name) %></th>
          <th><%= I18n.t(:alias) %></th>
          <th class="filter-select"><%= I18n.t(:object_type) %></th>
          <th class="filter-select"><%= I18n.t(:category) %></th>
          <th class="filter-select"><%= I18n.t(:is_permission_project) %></th>
          <th class="filter-select"><%= I18n.t(:is_permission_master) %></th>
          <th class="filter-select"><%= I18n.t('label_associated_object') %></th>
          <th class="action"><%= I18n.t(:actions) %></th>
        </tr>
      </thead>

      <% @permissions.each do |perm| %>
        <tr>
          <td><span class = "attribute_tooltip" title ='<%= perm.description%>' ><%= perm.name %></span></td>
          <td><%= perm.alias %></td>
          <td><%= perm.object_type %></td>
          <td><%= perm.category %></td>
          <td><%= perm.is_permission_project %></td>
          <td><%= perm.is_master_permission %></td>
          <td><%= perm.object_associated.blank? ? 'All' : perm.object_associated %></td>
          <td class="center">
            <%= link_to '', edit_permission_path(perm), :class => 'icon-pencil', :title => I18n.t('edit') %>
            <%= link_to '', perm, confirm: I18n.t('are_you_sure'), method: :delete, :class => 'icon-trash', :style => 'color:red', :title => I18n.t('delete') %>
          </td>
        </tr>
      <% end %>

      <%= render :partial => 'layouts/footer_table' %>
    </table>

  </div>
</div>

