<% @module_positions.times do |j| %>    <!-- @module_positions is the Max Y position of last module -->
    <% position_y = j+1 %>

    <div class="row-fluid"> <!-- div for Y position -->
      <!-- Iteration for each module in position_y -->
      <% @module_positions_x.times do |i| %>
          <% position_x = i+1 %>
          <% span_size =  12/@module_positions_x %>

          <div class='<%= "span#{span_size}" %>'> <!-- div for X position -->
            <!-- Get the ModuleProject in position (position_x, position_y)  -->
            <% module_project = current_project.module_projects.find_by_position_x_and_position_y(position_x, position_y)  %>

            <% if module_project.nil? || !module_project.show_results_view %>
                <div class="widget-box collapsible none-module">  <!-- One widget-box when there is no module_project at that position -->
                </div>
            <% else %>
                <div class="widget-box collapsible">  <!-- One widget-box by module -->
                  <div class="widget-title" style="background-color: <%= module_project.color.nil? ? "lightgrey" : "##{module_project.color}" %>; border-bottom: 1px solid <%="##{module_project.color}"%>;">
                    <div class="view_header_data">
                      <h5 class="view_title"><%= "#{module_project}" %></h5>
                      <div class="pull-right">
                        <%= link_to "", new_views_widget_path(module_project_id: module_project.id, view_id: module_project.view_id), class: "icon icon-plus", title: I18n.t(:label_add_new_view_widget), remote: true %>
                        <%= link_to "", "#", id: "update_view_widgets_order", class: "icon icon-save", title: I18n.t(:label_update_view_widgets_order), remote: true %>
                      </div>
                    </div>
                  </div>
                  <div class="widget-content" class="<%= "module_project_widget_#{module_project.id}" %>">
                    <div id="<%="view_widgets_container_#{module_project.id}"%>" class="row-fluid">
                      <!-- Show all widgets on the current view -->
                      <% if module_project.view %>
                          <% module_project.view.views_widgets.order('position').each do |view_widget| %>
                            <% view_widget_data = get_view_widget_data(module_project.id, view_widget.id) %>
                            <% value_to_show = view_widget_data[:value_to_show] %>
                            <% view_widget_height = view_widget_data[:height] ; view_widget_width = view_widget_data[:width] %>
                            <% view_widget_font_size = ((view_widget_height+view_widget_width)/2) * 0.025  %>
                            <% view_widget_text_size = ((view_widget_height+view_widget_width)/2) * 0.015  %>
                            <% view_widget_min_max_size = ((view_widget_height+view_widget_width)/2) * 0.009  %>

                            <!--<div class="span3 text-center view_widget" data-view_widget_id="<%#= view_widget.id %>" style="<%#= add_top_and_left %>  margin-left: 0px; margin-right:5px;  background-color: <%#= view_widget.color %>; min-height: <%#= 3 * 50%>px; min-width: 120px; padding-top: <%#= 2 * 2%>em; margin-bottom: 10px;">-->
                            <div id="<%= "dashboard_widget_#{view_widget.id}" %>" class="span3 text-center view_widget" data-view_widget_id="<%= view_widget.id %>" data-container_id="<%="view_widgets_container_#{module_project.id}"%>" style="margin-left: 0px; margin-right:10px; margin-bottom: 10px;  background-color: <%= view_widget.color %>; height: <%=view_widget_height%>px; width: <%=view_widget_width%>px;">
                              <div id="show_view_widget_params_<%= view_widget.id %>" class="widget_icon_edit">
                                <%= link_to(' ', view_widget, confirm: I18n.t('are_you_sure'), method: :delete, :class => 'icon-trash icon_smaller', :title => I18n.t('delete')) %>
                                <%= link_to '', edit_views_widget_path(view_widget, module_project_id: module_project.id, view_id: module_project.view_id), class: 'icon-pencil icon_smaller', title: I18n.t(:edit_widget, :value => view_widget.name), remote: true %>
                              </div>

                              <div class="row-fluid" style="padding-top: 0em;">
                                <% if view_widget.show_min_max %>
                                 <div class="row-fluid">
                                    <div class="span6">
                                      <% unless view_widget.icon_class.empty? %>
                                        <!--<div class="fa <%#= view_widget.icon_class %> icon_size" title="<%#= view_widget.name %>"></div>-->
                                        <div class="fa <%= view_widget.icon_class %> icon_size" title="<%= view_widget.name %>" style="font-size: <%=view_widget_font_size%>em"></div>
                                      <% end %>
                                        <div class="widget_text" style="font-size: <%=view_widget_text_size%>em">
                                          <%= value_to_show %>
                                        </div>
                                    </div>
                                    <div class="span6 min_max" style="font-size: <%=view_widget_min_max_size%>em">
                                        <span><%= view_widget_data[:max_value_text] %></span><br>
                                        <span><%= view_widget_data[:min_value_text] %></span>
                                    </div>
                                 </div>

                                <% else %>
                                    <% unless view_widget.icon_class.empty? %>
                                        <span class="icon fa <%= view_widget.icon_class %> icon_size" title="<%= view_widget.name %>" style="font-size: <%=view_widget_font_size%>em"></span>
                                    <% end %>
                                    <div class="widget_text" style="font-size: <%=view_widget_text_size%>em">
                                      <%= value_to_show %>
                                    </div>
                                <% end %>
                                <script>
//                                    $('.icon_size').css('font-size', ($("#<%#="dashboard_widget_#{view_widget.id}"%>").width()*0.03)+'px');
                                </script>
                              </div>
                            </div>
                          <% end %>
                        <!--</ul>-->
                      <% end %>
                      <!--<div class="span9 text-center" style="height: <%#= 3 * 80%>px; " >-->
                        <!--<%#= timeline [["Washington", "1789-04-29", "1797-03-03"], ["Adams", "1797-03-03", "1801-03-03"], ["Jefferson", "1801-03-03", "1809-03-03"]] %>-->
                      <!--</div>-->
                    </div>
                  </div>  <!-- end widget content -->
                </div>  <!-- END widget-box by module -->
            <% end %>
          </div>   <!-- END div for each X position -->
      <% end %>    <!-- Iteration for X position -->
    </div>  <!-- END div for Y position -->
<% end %>   <!-- Iteration for Y position -->




