<div class="tabs">
  <!--<ul>-->
    <!--<li><a href="#tabs-1"><%#= I18n.t(:views_widgets) %> </a></li>-->
  <!--</ul>-->

  <div id="tabs-1">

    <%= simple_form_for(@views_widget, :remote => true) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :view_id, as: :hidden, :input_html => { value: @view_id } %>

        <table>
          <!--<tr><td><%#= f.association :widget, label: I18n.t(:label_widget) %></td></tr>-->
          <tr>
            <td><%= f.input :name, label: I18n.t(:name) %></td>
            <td><%= f.input :show_name, label: I18n.t(:show_name) %></td>
          </tr>
          <tr>
            <td><%= f.association :pbs_project_element, label: I18n.t(:associate_pbs_element), collection: @project_pbs_project_elements, selected: @pbs_project_element_id, include_blank: false  %></td>
            <td><%= f.association :module_project, label: "Module", collection: @module_project.project.module_projects.map{|i| [i, i.id]}, selected: @module_project.id, include_blank: false %></td>
          </tr>
          <tr>
            <td><%= f.input :widget_type, collection: @views_widget_types, as: :grouped_select, group_method: :last, :group_label_method => :first, include_blank: false %></td>
            <td><%= f.association :pe_attribute, collection: @module_project_attributes, as: :grouped_select, group_method: :last, :group_label_method => :first, include_blank: false %></td>
          </tr>
          <tr>
            <td>
              <% if @views_widget.new_record? %>
                <%= f.input :color, label: I18n.t(:status_color), input_html: {class: "basic", type: 'color', value: '#99ccff'} %>
              <% else %>
                <%= f.input :color, label: I18n.t(:status_color), input_html: {class: "basic", type: 'color'} %>
              <% end %>
            </td>
            <td><%= f.input :icon_class, as: :select, collection: Projestimate::Application::ICON_CLASSES.sort() , label: I18n.t(:icon), input_html: {class: ''} %></td>
            <td><div id="view_icon_class_image"></div></td>
          </tr>
          <tr>
            <td>
              <label><%= I18n.t :fields %></label>
              <% selected = @views_widget.project_fields.first %>
              <%= select_tag "field", options_for_select(@project.organization.fields.map{|i| [i.name, i.id] }, selected: selected.nil? ? '' : selected.field.id), prompt: "None", disabled: !(@views_widget.widget_type == "text") %>
            </td>
            <td><%= f.input :show_min_max, as: :boolean, label: I18n.t(:show_min_max) %></td>
          </tr>

          <tr>
            <td><%= I18n.t(:widget_size) %></td>
            <td>
              <div class="row-fluid" style="display: block">
                <div class="span6 height_width"><%= f.input :width, as: :select, collection: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25], label: I18n.t(:width), include_blank:false, input_html: {class: 'input-small'} %></div>
                <div class="span6 height_width"><%= f.input :height, as: :select, collection: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25], label: I18n.t(:height), include_blank:false, input_html: {class: 'input-small'} %></div>
              </div>
              <%#= f.input :width, label: I18n.t(:width) %>  <%#= f.input :height, label: I18n.t(:height) %>
            </td>
          </tr>
        </table>
      </div>

      <div class="actions">
        <%= submit_tag I18n.t('save'), :class => 'btn' %>
        <%= link_to I18n.t('back'), :back, :class => 'btn' %>
      </div>
    <% end %>
  </div>
</div>

<script>
  $("#views_widget_widget_type").on("change", function(){
    $("#field").prop('disabled',!$("#field").prop('disabled'))
  })
</script>