<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:acquisition_category) %> </a></li>
  </ul>

  <div id="tabs-1">
    <%= simple_form_for([@organization, @acquisition_category]) do |f| %>
      <%= f.error_notification %>

      <%= f.input :organization_id, :as => :hidden, :input_html => { :value => @organization.id } %>

      <%= f.input :name, :label => I18n.t('name'), :input_html => {:class => 'input-xxlarge', :autofocus => (controller.action_name == 'new')} %>

      <%= f.input :description, :label => I18n.t('description'), :input_html => {:class => 'input-xxlarge', :rows => 5} %>

      <div class="actions-tabs">
        <% if can? :manage, AcquisitionCategory %>
            <% if action_name == 'new' || action_name=='create' %>
                <%= submit_tag I18n.t('save_and_create'), :class => 'btn' %>
                <%= submit_tag I18n.t('save'), :class => 'btn' %>
            <% elsif action_name == 'edit' || action_name=='update' %>
                <%= submit_tag I18n.t('save'), :class => 'btn' %>
                <%= submit_tag I18n.t('apply'), :class => 'btn' %>
            <% end %>
        <% end %>
        <%= link_to I18n.t('back'), organization_setting_path(@organization, :anchor => 'tabs-acquisition-categories'), :class => 'btn' %>
      </div>
    <% end %>
  </div>
</div>
