<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @view.name %>
</p>

<p>
  <b>User:</b>
  <%= @view.organization_id %>
</p>


<%= link_to I18n.t(:edit), edit_view_path(@view) %> |
<%= link_to I18n.t(:Back), views_path %>
