<div class="tabs">
  <ul>
    <li><a href="#tabs-organization"><%= I18n.t(:organizations) %> </a></li>
    <% if action_name.in?(%w(edit update)) %>
      <li><a href="#tabs-estimations"><%= I18n.t(:estimate) %></a></li>
      <li><a href="#tabs-group"><%= I18n.t(:groups) %></a></li>
      <li><a href="#tabs-profile"><%= I18n.t(:profiles) %></a></li>
      <li><a href="#wbs-activities"><%= I18n.t(:wbs_activities) %></a></li>
      <li><a href="#GuwModel"> Modèle d'unité d'oeuvres génériques </a></li>
      <li><a href="#tabs-estimations-statuses"><%= I18n.t(:estimations_statuses) %> </a></li>
      <li><a href="#tabs-attribute"><%= I18n.t(:pe_attributes) %> </a></li>
      <li><a href="#tabs-technology"><%= I18n.t(:organization_technology) %> </a></li>
      <li><a href="#tabs-uow"><%= I18n.t(:organization_unit_of_work) %> </a></li>
      <li><a href="#tabs-synthesis-uow-techno"><%= I18n.t(:technology_uow_synthesis) %></a></li>
      <li><a href="#tabs-sut"><%= I18n.t(:size_unit_type) %></a></li>
      <li><a href="#tabs-abacus-tsu"><%= I18n.t(:technology_size_type_abacus) %></a></li>
      <li><a href="#tabs-abacus-sut"><%= I18n.t(:technology_size_abacus) %></a></li>
      <li><a href="#tabs-sub"><%= I18n.t(:organization_subcontractor) %> </a></li>
      <li><a href="#tabs-cplx-factor"><%= I18n.t(:factor_complexity) %> </a></li>
    <% end %>
  </ul>

  <div id="tabs-estimations">

    <b><%= I18n.t :estimate %></b>

    <table border="0" width="100%">
      <tr>
        <td>
          <%= I18n.t(:label_filter_on_projects_version) %>
          <%= select_tag 'filter_projects_version', options_for_select([[I18n.t(:label_filter_on_project_version_1),1], [I18n.t(:label_filter_on_project_version_2),2], [I18n.t(:label_filter_on_project_version_3),3], [I18n.t(:label_filter_on_project_version_4),4]], :selected => 1), :include_blank => false %>
        </td>

        <td colspan=2 style="text-align:right;">
          <% if can? :create_project_from_template, Project %>
            <%= link_to I18n.t('new_project_from'), projects_from_path, :class => 'btn' %>
          <% end %>

          <% if can? :create_project_from_scratch, Project %>
            <%= link_to I18n.t('new_project'), new_project_path, :class => 'btn' %>
          <% end %>
        </td>
      </tr>
    </table>

    <br>

    <div id="projects">
      <table id="table_list_1" class="table tablesorterPager table-striped table-bordered table-condensed">
        <thead>
        <tr>
          <th><%= I18n.t(:label_project_name) %></th>
          <th><%= I18n.t(:label_project_version) %></th>
          <th><%= I18n.t(:label_product_name) %></th>
          <th style="width: 50px" class="filter-select"> <%= I18n.t(:state) %></th>
          <th class="filter-select"><%= I18n.t(:organizations) %></th>
          <th class="filter-select"><%= I18n.t(:creator) %></th>
          <th class="filter-select" data-value="false" style="width: 50px"><%= I18n.t(:is_model) %></th>
          <th class="action" style="width: 165px"><%= I18n.t(:actions) %></th>
        </tr>
        </thead>
        <tbody>
        <% if @projects.empty? %>
          <p style="text-align:center;"> <%= I18n.t('empty') %></p>
        <% else %>
          <% @projects.each do |project| %>
            <tr>
              <td>
                <% if can_show_estimation?(project) %>
                  <%= link_to(project.title, edit_project_path(project), :class => 'button_attribute_tooltip')  %>
                <% else %>
                  <%= project.title %>
                <% end %>
              </td>
              <td class="span2"><%= project.version %></td>
              <td><%= project.root_component %></td>
              <td><span class="badge" style="background-color: <%= project.status_background_color %>"><%= project.status_name %></span></td>
              <td class="span3"><%= project.organization %></td>
              <td class="span2"><%= project.creator.nil? ? 'N/A' : project.creator.to_s %></td>
              <td><%= project.is_model? ? I18n.t('simple_form.yes') : I18n.t('simple_form.no') %></td>

              <td class="center">
                <% if can_modify_estimation?(project) %>
                  <%= link_to('', edit_project_path(project, :anchor => 'tabs-1'), :class => 'button_attribute_tooltip icon-pencil pull-left', :title => I18n.t('edit')) %>
                  <%= link_to('', main_app.add_comment_on_status_change_path(:project_id => project.id), :class => "icon-comment", :title => "#{I18n.t(:label_add_status_change_comment)}" , :remote => true) %> <!-- Link to comment the estimation status change add_comment_on_status_change -->
                <% end %>

                <% if can_show_estimation?(project) %>
                  <%= link_to('', dashboard_path(project), :class => 'button_attribute_tooltip icon-star pull-left', :title => I18n.t('button_activate_project')) %>
                <% end %>

                <%# if (project.preliminary? || project.in_progress? || (project.in_review? && (can? :write_access_to_inreview_project, project))) && ((can? :commit_project, project)||(can? :manage, project)) %>
                <% if ((can? :write_access_to_inreview_project, project) && (can? :commit_project, project)||(can? :manage, project)) %>
                  <% if can_modify_estimation?(project) %>
                    <%= link_to('', {:controller => 'projects', :action => 'commit', :project_id => project.id}, :confirm => send_notice(project), :class => 'button_attribute_tooltip icon-ok-circle pull-left', :title => I18n.t('button_commit_project')) %>
                  <% end %>
                <% end %>

                <%# if (project.checkpoint? || project.released?) && ((can? :commit_project, project)||(can? :manage, project)) %>
                <% if can?(:commit_project, project) || can?(:manage, project) %>
                  <%= link_to('', {:controller => 'projects', :action => 'checkout', :project_id => project.id}, :class => 'icon-step-forward pull-left button_attribute_tooltip', :title => I18n.t('button_checkout_project'), :confirm => (I18n.t(:confirm_new_branch_project_checkout) unless project.is_childless?)) %>
                <% end %>

                <%= link_to('', {:controller => 'projects', :action => 'find_use_project', :project_id => project.id}, :remote => true, 'data-project_id' => project.id, :class => 'button_attribute_tooltip icon-info pull-left', :id => 'find_use_projects', :title => I18n.t('button_find_use')) %>
                <% if (can? :create_project_from_template, Project) || (can? :manage, project )%>
                  <%= link_to('', "projects/#{project.id}/duplicate", :class => 'button_attribute_tooltip icon-copy pull-left', :title => I18n.t('button_duplicate_project')) %>
                <% end %>

                <% if (can? :delete_project, project) || (can? :manage, project) %>
                  <% if project.is_childless? && can_delete_estimation?(project) %>   <%# if project.is_childless? && !project.rejected? && !project.released? && !project.checkpoint?  %>
                    <%= (link_to('', "projects/#{project.id}/confirm_deletion", :class => 'button_attribute_tooltip icon-remove pull-left', :style => 'color:red', :title => I18n.t('delete')) if can? :delete_project, project) %>
                  <% end %>
                <% end %>

                <%= link_to('', edit_project_path(project, :anchor => 'tabs-history'), :class => 'button_attribute_tooltip icon-signal icon-bar-chart pull-left', :title => I18n.t('label_project_history')) %>

              </td>
            </tr>
          <% end %>

          <%= render :partial => 'layouts/footer_table' %>
        <% end %>
        </tbody>
      </table>
    </div>


    <script>
      <%= render :partial => 'layouts/sort_date', :handlers => [:erb], :formats => [:js]%>
    </script>
  </div>

  <div id="wbs-activities">
    <b><%= I18n.t :wbs_activities %></b>

    <% if can? :create_wbs_activities, WbsActivity %>
      <a href="#myWBSModal" role="button" class="btn pull-right" title="<%= I18n.t(:guide_import_wbs_activity) %>" data-toggle="modal"><%= I18n.t(:import_wbs_activity) %></a>
      <%= link_to I18n.t(:new_wbs_activity), new_organization_wbs_activity_path(@organization), :class => 'btn pull-right', :title => "#{I18n.t(:guide_create_wbs_activity)}" %>
    <% end %>
    <br>

    <table class="table table-bordered">
      <tr>
        <th><%= I18n.t(:name) %></th>
        <th><%= I18n.t(:description) %></th>
        <th><%= I18n.t(:organizations) %></th>
        <th class="action" style="width: 160px"><%= I18n.t(:actions) %></th>
      </tr>

      <% @wbs_activities.each do |wbs_activity| %>
        <tr>
          <td><%= link_to(wbs_activity.name, edit_wbs_activity_path(wbs_activity, :anchor => 'tabs-1')) %></td>
          <td><%= wbs_activity.description %></td>
          <td><%= wbs_activity.organization unless wbs_activity.organization.nil? %></td>
          <td class="center">
            <%= link_to '', edit_organization_wbs_activity_path(@organization, wbs_activity, :anchor => 'tabs-1'), :class => 'button_attribute_tooltip icon-pencil', :title => I18n.t(:edit) %>
            <% if can? :create_wbs_activities, WbsActivity %>
              <%= link_to('', "wbs_activities/#{wbs_activity.id}/duplicate_wbs_activity", :class => 'button_attribute_tooltip icon-copy', :title => 'Duplicate') %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

    <div id="myWBSModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <%= form_tag import_wbs_activities_path, :multipart => true, :class => 'simple_form' do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel"><%= I18n.t(:import) %> WBS Activity</h3>
        </div>
        <div class="modal-body">
          <label><%= I18n.t(:file_csv) %></label>
          <%= file_field_tag :file %>

          <label><%= I18n.t(:separator) %>'<%= I18n.t(:general_csv_separator) %>') </label>
          <%= text_field_tag :separator %>

          <label><%= I18n.t(:encoding) %></label>
          <%= select_tag :encoding, options_for_select(Project::encoding, :selected => I18n.t(:general_csv_encoding)) %>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          <%= submit_tag I18n.t(:import), :class => 'btn btn-primary', :onclick => "$('.loading').show();" %>
        </div>
        <div class="loading span11 hide">
          <h4><%= I18n.t(:please_wait_import) %><%= image_tag 'ajax-loader.gif' %> </h4>
        </div>
      <% end %>
    </div>

  </div>

  <div id="tabs-organization">
    <%= simple_form_for(@organization) do |f| %>

      <%= f.input :name, :label => I18n.t('name'), :input_html => {:class => 'input-xxlarge', :autofocus => (controller.action_name == 'new')} %>
      <%= f.input :description, :label => I18n.t('description'), :input_html => {:class => 'input-xxlarge', :rows => 5} %>
      <br />

      <div id="accordion2" class="accordion">
        <div class="accordion-group accordion-caret">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              <i class="icon-caret-down"></i>
              <b><%= I18n.t(:text_measuring_units) %></b>
            </a>
          </div>
          <div id="collapseTwo" class="accordion-body in collapse">
              <div class="accordion-inner">
                <%= f.input :number_hours_per_day, :label => I18n.t('number_hours_per_day'), :required => true, :input_html => {:class => 'input-xxlarge'} %>
                <%= f.input :number_hours_per_month, :label => I18n.t('number_hours_per_month'), :required => true, :input_html => {:class => 'input-xxlarge'} %>
                <%= f.input :currency_id, :as => :select, collection: Currency.defined_or_local.map{|i| ["#{i.name} (#{i.sign})", i.id]}, :label => I18n.t(:currency), :required => true %>
                <%= f.input :cost_per_hour, :label => I18n.t('cost_per_hour'), :required => true, :input_html => {:class => 'input-xxlarge'} %>
                <%= f.input :inflation_rate, :label => I18n.t('inflation_rate'), :required => true, :input_html => {:class => 'input-xxlarge'} %>

                <%= f.input :limit1, :label => "Affichage de l'effort en jour à partir de", :required => true, :input_html => {:class => 'input-xxlarge'} %>
                <%= f.input :limit2, :label => "Affichage de l'effort en semaine à partir de", :required => true, :input_html => {:class => 'input-xxlarge'} %>
                <%= f.input :limit3, :label => "Affichage de l'effort en mois à partir de", :required => true, :input_html => {:class => 'input-xxlarge'} %>
              </div>
          </div>
        </div>
      </div>

        <div class="actions-tabs">
          <% if can? :edit_organizations, Organization %>
              <% if action_name == 'edit' %>
                  <%= submit_tag I18n.t('save'), :class => 'btn' %>
              <% end %>
              <%= submit_tag I18n.t('apply'), :class => 'btn' %>
          <% end %>
          <%= link_to I18n.t('back'), organizationals_params_path, :class => 'btn' %>
        </div>
    <% end %>
  </div>

  <% if action_name.in?(%w(edit update)) %>

    <div id="tabs-group">
      <b><%= I18n.t(:groups) %></b>
      <%= render :partial => 'organizations/groups' %>
    </div>

    <div id="tabs-profile">
      <b><%= I18n.t(:profiles) %></b>
      <%= render :partial => 'organizations/profiles' %>
      <br><br>
    </div>

    <div id="tabs-attribute">
      <b><%= I18n.t(:text_organization_attributes) %></b>
      <br><br>
      <!-- Method in AttributeOrganizationsController -->
      <%= form_tag('/update_selected_attribute_organizations', :method => 'POST', :class => 'simple_form') do -%>

          <%= hidden_field_tag 'organization_id', @organization.id %>
          <%= hidden_field_tag 'organization[pe_attribute_ids][]' %>

          <table id="table_list_2" class="table tablesorterPager table-striped table-bordered table-condensed">
            <thead>
            <tr>
              <th><%= I18n.t(:pe_attribute_name) %></th>
              <th class="filter-select"><%= I18n.t(:selected) %></th>
              <th class="filter-select"><%= I18n.t(:attribute_categories) %></th>
              <th><%= I18n.t(:description) %></th>
              <th><%= I18n.t(:mandatory) %></th>
            </tr>
            </thead>
            <tbody>
            <% @attributes.each do |attr| %>
                <tr>
                  <td><%= link_to(attr.name, edit_pe_attribute_path(attr), :class => 'attribute_tooltip', :style => 'color:green;', :title => display_attribute_rule(attr)) unless attr.nil? %></td>
                  <td style="text-align: center">
                    <span class="hidden">
                      <%= @attribute_settings.map(&:pe_attribute_id).include?(attr.id).to_s.humanize %>
                    </span>
                    <%= check_box_tag 'organization[pe_attribute_ids][]', attr.id, @attribute_settings.map(&:pe_attribute_id).include?(attr.id) %>
                  </td>
                  <td><%= attr.attribute_category %></td>
                  <td><%= attr.description %></td>
                  <td class="center">
                    <% ao = AttributeOrganization.where("organization_id = ? AND pe_attribute_id = ?", @organization.id, attr.id).first %>
                    <%= select_tag "is_mandatory[#{attr.id}]", options_for_select([["#{I18n.t('simple_form.yes')}", true], ["#{I18n.t('simple_form.no')}", false]], :selected => (ao.nil? ? nil : ao.is_mandatory)), :prompt => I18n.t('helpers.select.prompt'), :class => 'input-small' %>
                  </td>
                </tr>
            <% end %>
            <%= render :partial => 'layouts/footer_table' %>
            </tbody>
          </table>
          <% if can? :edit_organizations, Organization %>
              <%= submit_tag I18n.t('save'), :class => 'btn' %>
              <%= submit_tag I18n.t('apply'), :class => 'btn' %>
          <% end %>
          <span class="on_success_attr"></span>
      <% end -%>
    </div>

    <div id="tabs-technology">
      <b><%= I18n.t(:text_organization_technology) %></b>
      <br>
      <% if can? :edit_organizations, Organization %>
          <%= link_to I18n.t('new_organization_technology'), new_organization_technology_path(:organization_id => @organization.id), :class => 'btn pull-right' %>
      <% end %>
      <table id="table_list_4" class="table tablesorterPager table-striped table-bordered table-condensed">
        <thead>
        <tr>
          <th><%= I18n.t(:name) %></th>
          <th><%= I18n.t(:alias) %></th>
          <th><%= I18n.t(:description) %></th>
          <th><%= I18n.t(:productivity_ratio) %></th>
          <th class="action" colspan="2"><%= I18n.t(:actions) %></th>
        </tr>
        </thead>
        <tbody>
        <% @organization.organization_technologies.each do |ot| %>
            <% if ot.state == 'retired' %>
                <tr style="font-style:italic; color:Red">
            <% elsif ot.state == 'draft' %>
                <tr style="font-style:italic; color:DarkOrange ">
            <% else %>
                <tr>
            <% end %>
            <td><%= ot.name %></td>
            <td><%= ot.alias %></td>
            <td><%= ot.description %></td>
            <td><%= ot.productivity_ratio %></td>
            <td class="align-center">
              <%= link_to '', edit_organization_technology_path(ot.id, :organization_id => @organization.id), :class => 'icon-pencil', :title => I18n.t('edit') %>
              <% if can? :manage, Organization %>
                  <%= link_to '', ot, confirm: I18n.t('are_you_sure'), method: :delete, :class => 'icon-remove', :style => 'color:red', :title => I18n.t('delete') %>
              <% end %>
            </td>
            </tr>
        <% end %>

        <%= render :partial => 'layouts/footer_table' %>
        </tbody>
      </table>
    </div>

    <div id="tabs-uow">
      <b><%= I18n.t(:text_organization_unit_of_work) %></b>
      <br>
      <% if can? :edit_organizations, Organization %>
        <%= link_to I18n.t('new_unit_of_work'), new_unit_of_work_path(:organization_id => @organization.id), :class => 'btn pull-right' %>
      <% end %>
      <table id="table_list_6" class="table tablesorterPager table-striped table-bordered table-condensed">
        <thead>
        <tr>
          <th><%= I18n.t(:name) %></th>
          <th><%= I18n.t(:alias) %></th>
          <th><%= I18n.t(:description) %></th>
          <th class="action" colspan="2"><%= I18n.t(:actions) %></th>
        </tr>
        </thead>
        <tbody>
        <% @unitofworks.each do |uow| %>
          <% if uow.state == 'retired' %>
            <tr style="font-style:italic; color:Red">
          <% elsif uow.state == 'draft' %>
            <tr style="font-style:italic; color:DarkOrange ">
          <% else %>
            <tr>
          <% end %>
          <td><%= uow.name %></td>
          <td><%= uow.alias %></td>
          <td><%= uow.description %></td>
          <td class="align-center">
            <%= link_to '', edit_unit_of_work_path(uow.id, :organization_id => @organization.id), :class => 'icon-pencil', :title => I18n.t('edit') %>
            <% if can? :manage, Organization %>
              <%= link_to '', uow, confirm: I18n.t('are_you_sure'), method: :delete, :class => 'icon-remove', :style => 'color:red', :title => I18n.t('delete') %>
            <% end %>
          </td>
          </tr>
        <% end %>

        <%= render :partial => 'layouts/footer_table' %>
        </tbody>
      </table>
    </div>

  <div id="tabs-synthesis-uow-techno">
    <%= render :partial => 'organizations/technology_uow_synthesis' %>
  </div>

  <div id="tabs-sut">
    <% if can? :manage, Organization %>

      <%= link_to I18n.t('new_size_unit_type'), new_size_unit_type_path(:organization_id => @organization.nil? ? nil : @organization.id), :class => 'btn pull-right' %>

      <table id="table_list_4" class="table tablesorterPager table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <th><%= I18n.t(:name) %></th>
            <th><%= I18n.t(:alias) %></th>
            <th><%= I18n.t(:description) %></th>
            <th class="action"><%= I18n.t(:actions) %></th>
          </tr>
        </thead>

        <tbody>
        <% @size_unit_types.each do |i| %>
          <tr>
            <td><%= i.name %></td>
            <td><%= i.alias %></td>
            <td><%= i.description %></td>
            <td class="align-center">
              <%= link_to '', edit_size_unit_type_path(i, organization_id: @organization.id), :class => 'icon-pencil', :title => I18n.t('edit') %>
              <%= link_to '', i, confirm: I18n.t('are_you_sure'), method: :delete, :class => 'icon-remove', :style => 'color:red', :title => I18n.t('delete') %>
            </td>
          </tr>
        <% end %>
        <%= render :partial => 'layouts/footer_table' %>
        <tbody>
      </table>
    <% end %>
  </div>

  <div id="tabs-abacus-sut">
    <%= render :partial => 'organizations/technology_size_type_abacus' %>
  </div>

  <div id="tabs-abacus-tsu">
    <%= render :partial => 'organizations/technology_size_unit_abacus' %>
  </div>

  <div id="tabs-sub">
    <b><%= I18n.t(:text_organization_subcontractor) %></b>
    <br>
    <% if can? :edit_organizations, Organization %>
      <%= link_to I18n.t('new_subcontractor'), new_subcontractor_path(:organization_id => @organization.id), :class => 'btn pull-right' %>
    <% end %>
    <table id="table_list_7" class="table tablesorterPager table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th><%= I18n.t(:name) %></th>
          <th><%= I18n.t(:alias) %></th>
          <th><%= I18n.t(:description) %></th>
          <th class="filter-select" title="<%= I18n.t(:tooltip_state) %>"><%= I18n.t(:state) %></th>
          <th class="action" colspan="2"><%= I18n.t(:actions) %></th>
        </tr>
      </thead>
      <tbody>
      <% @organization.subcontractors.each do |ot| %>
        <% if ot.state == 'retired' %>
          <tr style="font-style:italic; color:Red">
        <% elsif ot.state == 'draft' %>
          <tr style="font-style:italic; color:DarkOrange ">
        <% else %>
          <tr>
        <% end %>
        <td><%= ot.name %></td>
        <td><%= ot.alias %></td>
        <td><%= ot.description %></td>
        <td><%= ot.state %></td>
        <td class="align-center">
          <% unless ot.in?(@default_subcontractors) %>
            <%= link_to '', edit_subcontractor_path(ot.id, :organization_id => @organization.id), :class => 'icon-pencil', :title => I18n.t('edit') %>
            <% if can? :manage, Organization %>
              <%= link_to '', ot, confirm: I18n.t('are_you_sure'), method: :delete, :class => 'icon-remove', :style => 'color:red', :title => I18n.t('delete') %>
            <% end %>
          <% end %>
        </td>
        </tr>
      <% end %>

      <%= render :partial => 'layouts/footer_table' %>
      </tbody>
    </table>
  </div>

  <div id="tabs-cplx-factor">
    <h4>Factors Complexities</h4>

    <br>

    <% if can? :edit_organizations, Organization %>
      <%= link_to I18n.t('new_factor_complexity'), new_organization_uow_complexity_path(:organization_id => @organization.nil? ? nil : @organization.id, :anchortab => 'tabs-7'), :class => 'btn pull-right' %>
    <% end %>


    <% @factors.each do |factor| %>

      <h4>
        <%= factor.factor_type.nil? ? "" : factor.factor_type.humanize %> - <%= factor.name %> - <%= factor.description %>
      </h4>

      <table class="table">
        <% factor.organization_uow_complexities.where(organization_id: @organization.id).order('display_order ASC').each do |c| %>
          <tr style="<%= (c.is_default == true) ? 'color: blue;' : '' %>">
            <td class="span2"><%= c.name %></td>
            <td class="span2"><%= c.value %></td>
            <td>
              <%= link_to '', set_default_path(c), :class => 'icon-exclamation icon-large pull-left', :title => I18n.t('edit') %>
              <% if can? :edit_organizations, Organization %>
                <%= link_to '', new_organization_uow_complexity_path(:organization_id => @organization.nil? ? nil : @organization.id, factor: factor.id), :class => 'icon-plus-sign icon-large pull-left' %>
              <% end %>
              <%= link_to '', edit_organization_uow_complexity_path(c), :class => 'icon-pencil icon-large pull-left', :title => I18n.t('edit') %>
              <%= link_to '', c, confirm: I18n.t('are_you_sure'), method: :delete, :class => 'icon-remove icon-large pull-left', :style => 'color:red', :title => I18n.t('delete') %>
              <% if is_master_instance? && !c.is_local_record? %>
                <% if c.is_retired? %>
                  <%= link_to('', "/organization_uow_complexities/#{c.id}/restore_change", confirm: I18n.t('restoring'), :class => 'icon-undo icon-large pull-left', :style => 'color:orange', :title => I18n.t('restore_title')) %>
                <% else %>
                  <% unless c.is_defined? %>
                    <%= link_to('', "/organization_uow_complexities/#{c.id}/validate_change", confirm: I18n.t('validation'), :class => 'icon-ok icon-large pull-left', :style => 'color:green', :title => I18n.t('validate_title')) %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>

 <div id="tabs-estimations-statuses" style="min-height: 50px;">
   <b><%#= I18n.t(:manage_estimations_statuses_workflow) %></b>
   <br>
   <% if can? :edit_organizations, Organization %>
       <%= link_to I18n.t('new_estimation_status'), new_estimation_status_path(:organization_id => @organization.id), :class => 'btn pull-right' %>
   <% end %>
   <%= render "estimation_statuses/statuses_management", object: @organization %>
 </div>

 <div id="GuwModel" style="min-height: 50px;">

   <b>Modèle d'UO</b>

   <%= link_to "Nouveau modèle d'UO", guw.new_guw_model_path(organization_id: @organization.id), :class => 'btn pull-right' %>
   <br>

   <table class="table table-bordered">
     <tr>
       <th><%= I18n.t(:name) %></th>
       <th class="action"><%= I18n.t(:actions) %></th>
     </tr>

     <% @guw_models.each do |i| %>
       <tr>
         <td class="span5">
           <%= link_to i.name, guw.guw_model_path(i), :title => I18n.t('edit') %>
         </td>
         <td class="align-center">
           <%= link_to 'Show model', guw.guw_model_path(i), :class => 'btn btn-mini', :title => I18n.t('edit') %>
           <%= link_to 'Edit model', guw.edit_guw_model_path(i, organization_id: @organization.id), :class => 'btn btn-mini', :title => I18n.t('edit') %>
           <%= link_to 'Delete', guw.guw_model_path(i), method: "DELETE",  :class => 'btn btn-mini', :title => I18n.t('delete') %>
         </td>
       </tr>
     <% end %>
   </table>
 </div>

<% end %>
</div>

