<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:organizations) %> </a></li>
    <% if action_name.in?(%w(edit update)) %>
        <li><a href="#tabs-2"><%= I18n.t(:pe_attributes) %> </a></li>
        <!--<li><a href="#tabs-3"><%= I18n.t(:attributes_settings) %> </a></li>-->
        <li><a href="#tabs-4"><%= I18n.t(:organization_technology) %> </a></li>
        <li><a href="#tabs-5"><%= I18n.t(:organization_unit_of_work) %> </a></li>
        <li><a href="#tabs-6"><%= I18n.t(:unit_or_work_complexity) %> </a></li>
        <li><a href="#tabs-7"><%= I18n.t(:factor_complexity) %> </a></li>
        <li><a href="#tabs-8"><%= I18n.t(:size_unit_type) %></a></li>
        <li><a href="#tabs-9"><%= I18n.t(:technology_size_type_abacus) %></a></li>
        <li><a href="#tabs-10"><%= I18n.t(:technology_size_abacus) %></a></li>
        <li><a href="#tabs-11"><%= I18n.t(:organization_subcontractor) %> </a></li>
        <li><a href="#tabs-12"><%= I18n.t(:technology_uow_synthesis) %></a></li>
        <li><a href="#tabs-13"><%= I18n.t(:profiles) %></a></li>
  <% end %>
  </ul>

  <div id="tabs-1">
    <%= simple_form_for(@organization) do |f| %>
      <div>
        <%= f.input :name, :label => I18n.t('name'), :input_html => {:class => 'input-xxlarge', :autofocus => (controller.action_name == 'new')} %>
        <%= f.input :description, :label => I18n.t('description'), :input_html => {:class => 'input-xxlarge', :rows => 5} %>
      </div> <br />

      <div id="accordion2" class="accordion">
        <div class="accordion-group accordion-caret">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              <i class="icon-caret-down"></i>
              <b><%= I18n.t(:text_measuring_units) %></b>
            </a>
          </div>
          <div id="collapseTwo" class="accordion-body in collapse">
              <div class="accordion-inner">
                <%= f.input :number_hours_per_day, :label => I18n.t('number_hours_per_day'), :required => true, :input_html => {:class => 'input-xxlarge'} %>
                <%= f.input :number_hours_per_month, :label => I18n.t('number_hours_per_month'), :required => true, :input_html => {:class => 'input-xxlarge'} %>
                <%= f.input :currency_id, :as => :select, collection: Currency.defined_or_local.map{|i| ["#{i.name} (#{i.sign})", i.id]}, :label => I18n.t(:currency), :required => true %>
                <%= f.input :cost_per_hour, :label => I18n.t('cost_per_hour'), :required => true, :input_html => {:class => 'input-xxlarge'} %>
                <%= f.input :inflation_rate, :label => I18n.t('inflation_rate'), :required => true, :input_html => {:class => 'input-xxlarge'} %>
              </div>
          </div>
        </div>
      </div>

        <div class="actions-tabs">
          <% if can? :edit_organizations, Organization %>
              <% if action_name == 'edit' %>
                  <%= submit_tag I18n.t('save'), :class => 'btn' %>
              <% end %>
              <%= submit_tag I18n.t('apply'), :class => 'btn' %>
          <% end %>
          <%= link_to I18n.t('back'), organizationals_params_path, :class => 'btn' %>
        </div>
    <% end %>
  </div>

  <% if action_name.in?(%w(edit update)) %>
    <div id="tabs-2">
      <b><%= I18n.t(:text_organization_attributes) %></b>
      <br><br>
      <!-- Method in AttributeOrganizationsController -->
      <%= form_tag('/update_selected_attribute_organizations', :method => 'POST', :class => 'simple_form') do -%>

          <%= hidden_field_tag 'organization_id', @organization.id %>
          <%= hidden_field_tag 'organization[pe_attribute_ids][]' %>

          <table id="table_list_2" class="table tablesorterPager table-striped table-bordered table-condensed">
            <thead>
            <tr>
              <th><%= I18n.t(:pe_attribute_name) %></th>
              <th class="filter-select"><%= I18n.t(:selected) %></th>
              <th class="filter-select"><%= I18n.t(:attribute_categories) %></th>
              <th><%= I18n.t(:description) %></th>
              <th><%= I18n.t(:mandatory) %></th>
            </tr>
            </thead>
            <tbody>
            <% @attributes.each do |attr| %>
                <tr>
                  <td><%= link_to(attr.name, edit_pe_attribute_path(attr), :class => 'attribute_tooltip', :style => 'color:green;', :title => display_attribute_rule(attr)) unless attr.nil? %></td>
                  <td style="text-align: center">
                    <span class="hidden">
                      <%= @attribute_settings.map(&:pe_attribute_id).include?(attr.id).to_s.humanize %>
                    </span>
                    <%= check_box_tag 'organization[pe_attribute_ids][]', attr.id, @attribute_settings.map(&:pe_attribute_id).include?(attr.id) %>
                  </td>
                  <td><%= attr.attribute_category %></td>
                  <td><%= attr.description %></td>
                  <td>
                    <% ao = AttributeOrganization.where("organization_id = ? AND pe_attribute_id = ?", @organization.id, attr.id).first %>
                    <%= select_tag "is_mandatory[#{attr.id}]", options_for_select([["#{I18n.t('simple_form.yes')}", true], ["#{I18n.t('simple_form.no')}", false]], :selected => (ao.nil? ? nil : ao.is_mandatory)), :prompt => I18n.t('helpers.select.prompt'), :class => 'input-small' %>
                  </td>
                </tr>
            <% end %>
            <%= render :partial => 'layouts/footer_table' %>
            </tbody>
          </table>
          <% if can? :edit_organizations, Organization %>
              <%= submit_tag I18n.t('save'), :class => 'btn' %>
              <%= submit_tag I18n.t('apply'), :class => 'btn' %>
          <% end %>
          <span class="on_success_attr"></span>
      <% end -%>
    </div>

    <div id="tabs-4">
      <b><%= I18n.t(:text_organization_technology) %></b>
      <br>
      <% if can? :edit_organizations, Organization %>
          <%= link_to I18n.t('new_organization_technology'), new_organization_technology_path(:organization_id => @organization.id), :class => 'btn pull-right' %>
      <% end %>
      <table id="table_list_4" class="table tablesorterPager table-striped table-bordered table-condensed">
        <thead>
        <tr>
          <th><%= I18n.t(:name) %></th>
          <th><%= I18n.t(:alias) %></th>
          <th><%= I18n.t(:description) %></th>
          <th class="filter-select" title="<%= I18n.t(:tooltip_state) %>"><%= I18n.t(:state) %></th>
          <th><%= I18n.t(:productivity_ratio) %></th>
          <th class="action" colspan="2"><%= I18n.t(:actions) %></th>
        </tr>
        </thead>
        <tbody>
        <% @organization.organization_technologies.each do |ot| %>
            <% if ot.state == 'retired' %>
                <tr style="font-style:italic; color:Red">
            <% elsif ot.state == 'draft' %>
                <tr style="font-style:italic; color:DarkOrange ">
            <% else %>
                <tr>
            <% end %>
            <td><%= ot.name %></td>
            <td><%= ot.alias %></td>
            <td><%= ot.description %></td>
            <td><%= ot.state %></td>
            <td><%= ot.productivity_ratio %></td>
            <td>
              <%= link_to '', edit_organization_technology_path(ot.id, :organization_id => @organization.id), :class => 'icon-pencil icon-large icon-border pull-left', :title => I18n.t('edit') %>
              <% if can? :manage, Organization %>
                  <%= link_to '', ot, confirm: I18n.t('are_you_sure'), method: :delete, :class => 'icon-remove icon-large icon-border pull-left', :style => 'color:red', :title => I18n.t('delete') %>
              <% end %>
            </td>
            </tr>
        <% end %>

        <%= render :partial => 'layouts/footer_table' %>
        </tbody>
      </table>
    </div>

    <div id="tabs-5">
      <b><%= I18n.t(:text_organization_unit_of_work) %></b>
      <br>
      <% if can? :edit_organizations, Organization %>
        <%= link_to I18n.t('new_unit_of_work'), new_unit_of_work_path(:organization_id => @organization.id), :class => 'btn pull-right' %>
      <% end %>
      <table id="table_list_6" class="table tablesorterPager table-striped table-bordered table-condensed">
        <thead>
        <tr>
          <th><%= I18n.t(:name) %></th>
          <th><%= I18n.t(:alias) %></th>
          <th><%= I18n.t(:description) %></th>
          <th class="filter-select" title="<%= I18n.t(:tooltip_state) %>"><%= I18n.t(:state) %></th>
          <th class="action" colspan="2"><%= I18n.t(:actions) %></th>
        </tr>
        </thead>
        <tbody>
        <% @unitofworks.each do |uow| %>
          <% if uow.state == 'retired' %>
            <tr style="font-style:italic; color:Red">
          <% elsif uow.state == 'draft' %>
            <tr style="font-style:italic; color:DarkOrange ">
          <% else %>
            <tr>
          <% end %>
          <td><%= uow.name %></td>
          <td><%= uow.alias %></td>
          <td><%= uow.description %></td>
          <td><%= uow.state %></td>
          <td>
            <%= link_to '', edit_unit_of_work_path(uow.id, :organization_id => @organization.id), :class => 'icon-pencil icon-large icon-border pull-left', :title => I18n.t('edit') %>
            <% if can? :manage, Organization %>
              <%= link_to '', uow, confirm: I18n.t('are_you_sure'), method: :delete, :class => 'icon-remove icon-large icon-border pull-left', :style => 'color:red', :title => I18n.t('delete') %>
            <% end %>
          </td>
          </tr>
        <% end %>

        <%= render :partial => 'layouts/footer_table' %>
        </tbody>
      </table>
    </div>

  <div id="tabs-6">
    <b>Complexity (Unit of work)</b>

    <br>

    <% if can? :edit_organizations, Organization %>
        <%= link_to I18n.t('new_uow_complexity'), new_organization_uow_complexity_path(:organization_id => @organization.id, :anchortab => 'tabs-6'), :class => 'btn pull-right' %>
    <% end %>

    <% @unitofworks.each do |uow| %>

      <h4>
        <%= uow.name %>
      </h4>

      <table id="table_list_5" class="table table-bordered">
        <thead>
          <tr>
            <th><%= I18n.t(:name) %></th>
            <th><%= I18n.t(:description) %></th>
-            <th><%= I18n.t(:state) %></th>
            <th class="action" colspan="2"><%= I18n.t(:actions) %></th>
          </tr>
        </thead>
        <tbody>
          <% uow.organization_uow_complexities.each do |oc| %>
            <% if oc.state == 'retired' %>
                <tr style="font-style:italic; color:Red">
            <% elsif oc.state == 'draft' %>
                <tr style="font-style:italic; color:DarkOrange ">
            <% else %>
                <tr>
            <% end %>
            <td><%= oc.name %></td>
            <td><%= oc.description %></td>
            <td><%= oc.state %></td>
            <td>
              <%= link_to '', edit_organization_uow_complexity_path(oc.id, :organization_id => @organization.id), :class => 'icon-pencil icon-large icon-border pull-left', :title => I18n.t('edit') %>
              <% if can? :manage, Organization %>
                  <%= link_to '', oc, confirm: I18n.t('are_you_sure'), method: :delete, :class => 'icon-remove icon-large icon-border pull-left', :style => 'color:red', :title => I18n.t('delete') %>
              <% end %>
            </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>

  <div id="tabs-7">
    <b>Factors Complexities</b>
    <br>

    <% if can? :edit_organizations, Organization %>
      <%= link_to I18n.t('new_factor_complexity'), new_organization_uow_complexity_path(:organization_id => @organization.nil? ? nil : @organization.id, :anchortab => 'tabs-7'), :class => 'btn pull-right' %>
    <% end %>


    <% @factors.each do |factor| %>

      <h4>
        <%= factor.factor_type.nil? ? "" : factor.factor_type.humanize %> - <%= factor.name %> - <%= factor.description %>
      </h4>

      <table class="table">
        <% factor.organization_uow_complexities.where(organization_id: @organization.id).order('display_order ASC').each do |c| %>
          <tr style="<%= (c.is_default == true) ? 'color: blue;' : '' %>">
            <td class="span2"><%= c.name %></td>
            <td class="span2"><%= c.value %></td>
            <td>
              <%= link_to '', set_default_path(c), :class => 'icon-exclamation icon-large pull-left', :title => I18n.t('edit') %>
              <% if can? :edit_organizations, Organization %>
                <%= link_to '', new_organization_uow_complexity_path(:organization_id => @organization.nil? ? nil : @organization.id, factor: factor.id), :class => 'icon-plus-sign icon-large pull-left' %>
              <% end %>
              <%= link_to '', edit_organization_uow_complexity_path(c), :class => 'icon-pencil icon-large pull-left', :title => I18n.t('edit') %>
              <%= link_to '', c, confirm: I18n.t('are_you_sure'), method: :delete, :class => 'icon-remove icon-large pull-left', :style => 'color:red', :title => I18n.t('delete') %>
              <% if is_master_instance? && !c.is_local_record? %>
                <% if c.is_retired? %>
                  <%= link_to('', "/organization_uow_complexities/#{c.id}/restore_change", confirm: I18n.t('restoring'), :class => 'icon-undo icon-large pull-left', :style => 'color:orange', :title => I18n.t('restore_title')) %>
                <% else %>
                  <% unless c.is_defined? %>
                    <%= link_to('', "/organization_uow_complexities/#{c.id}/validate_change", confirm: I18n.t('validation'), :class => 'icon-ok icon-large pull-left', :style => 'color:green', :title => I18n.t('validate_title')) %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>

  <div id="tabs-8">
    <% if can? :manage, Organization %>

      <%= link_to I18n.t('new_size_unit_type'), new_size_unit_type_path(:organization_id => @organization.nil? ? nil : @organization.id), :class => 'btn pull-right' %>

      <table id="table_list_4" class="table tablesorterPager table-striped table-bordered table-condensed">
        <thead>
        <tr>
          <th><%= I18n.t(:name) %></th>
          <th><%= I18n.t(:alias) %></th>
          <th><%= I18n.t(:description) %></th>
          <th class="action"><%= I18n.t(:actions) %></th>
        </tr>
        </thead>

        <tbody>
        <% @size_unit_types.each do |i| %>
          <tr>
            <td><%= i.name %></td>
            <td><%= i.alias %></td>
            <td><%= i.description %></td>
            <td>
              <%= link_to '', edit_size_unit_type_path(i, organization_id: @organization.id), :class => 'icon-pencil icon-large icon-border pull-left', :title => I18n.t('edit') %>
              <%= link_to '', i, confirm: I18n.t('are_you_sure'), method: :delete, :class => 'icon-remove icon-large icon-border pull-left', :style => 'color:red', :title => I18n.t('delete') %>
            </td>
          </tr>
        <% end %>
        <%= render :partial => 'layouts/footer_table' %>
        <tbody>
        </table>
    <% end %>
  </div>

  <div id="tabs-9">
    <%= render :partial => 'organizations/technology_size_type_abacus' %>
  </div>

  <div id="tabs-10">
    <%= render :partial => 'organizations/technology_size_unit_abacus' %>
  </div>

  <div id="tabs-11">
    <b><%= I18n.t(:text_organization_subcontractor) %></b>
    <br>
    <% if can? :edit_organizations, Organization %>
      <%= link_to I18n.t('new_subcontractor'), new_subcontractor_path(:organization_id => @organization.id), :class => 'btn pull-right' %>
    <% end %>
    <table id="table_list_7" class="table tablesorterPager table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th><%= I18n.t(:name) %></th>
          <th><%= I18n.t(:alias) %></th>
          <th><%= I18n.t(:description) %></th>
          <th class="filter-select" title="<%= I18n.t(:tooltip_state) %>"><%= I18n.t(:state) %></th>
          <th class="action" colspan="2"><%= I18n.t(:actions) %></th>
        </tr>
      </thead>
      <tbody>
      <% @organization.subcontractors.each do |ot| %>
        <% if ot.state == 'retired' %>
          <tr style="font-style:italic; color:Red">
        <% elsif ot.state == 'draft' %>
          <tr style="font-style:italic; color:DarkOrange ">
        <% else %>
          <tr>
        <% end %>
        <td><%= ot.name %></td>
        <td><%= ot.alias %></td>
        <td><%= ot.description %></td>
        <td><%= ot.state %></td>
        <td>
          <% unless ot.in?(@default_subcontractors) %>
            <%= link_to '', edit_subcontractor_path(ot.id, :organization_id => @organization.id), :class => 'icon-pencil icon-large icon-border pull-left', :title => I18n.t('edit') %>
            <% if can? :manage, Organization %>
              <%= link_to '', ot, confirm: I18n.t('are_you_sure'), method: :delete, :class => 'icon-remove icon-large icon-border pull-left', :style => 'color:red', :title => I18n.t('delete') %>
            <% end %>
          <% end %>
        </td>
        </tr>
      <% end %>

      <%= render :partial => 'layouts/footer_table' %>
      </tbody>
    </table>
  </div>

  <div id="tabs-12">
    <%= render :partial => 'organizations/technology_uow_synthesis' %>
  </div>

  <div id="tabs-13">
    <b><%= I18n.t(:profiles) %></b>
    <%= render :partial => 'organizations/profiles' %>
    <br><br>
  </div>

<% end %>
</div>

