<div class="tabs">
  <ul>
    <li><a href="#taille" data-toggle="tab"><%= I18n.t(:size) %></a></li>
    <li><a href="#effort" data-toggle="tab">Transformation</a></li>
    <li><a href="#activite" data-toggle="tab"><%= I18n.t(:activity) %></a></li>
    <li><a href="#team" data-toggle="tab"><%= I18n.t(:team) %></a></li>
  </ul>

  <div id="taille">
    <b><%= I18n.t(:label_Guw_model) %> <%#= I18n.t("label_Guw::GuwMod") %></b>

    <% if can? :show_modules_instances, ModuleProject %>
      <% if can? :manage_modules_instances, ModuleProject %>
        <%= link_to I18n.t(:new_UO_model), guw.new_guw_model_path(organization_id: @organization.id), :class => 'btn btn-mini pull-right' %>
      <% end %>
      <br>

      <table class="table table-bordered">
        <tr>
          <th><%= I18n.t(:name) %></th>
          <th>Date de création</th>
          <th class="action"><%= I18n.t(:actions) %></th>
        </tr>

        <% @guw_models.each do |i| %>
          <tr>
            <td class="span7">
              <% if i.default_display == "list" %>
                <%= link_to i.name, guw.guw_model_all_guw_types_path(i), confirm: I18n.t(:warning_edit_instance_module) %>
              <% else %>
                <%= link_to i.name, guw.guw_model_path(i), confirm: I18n.t(:warning_edit_instance_module) %>
              <% end %>
            </td>
            <td class="span2 align-center">
              <%= i.created_at.nil? ? '-' : I18n.l(i.created_at) %>
            </td>
            <td class="align-center">
              <%= link_to '', guw.edit_guw_model_path(i, organization_id: @organization.id), confirm: I18n.t(:warning_edit_instance_module), :class => 'fa fa-pencil', :title => I18n.t(:edit) %>
              <%= link_to '', guw.guw_model_duplicate_path(i, organization_id: @organization.id), :class => 'fa fa-copy', :title => I18n.t(:duplicate_module), method: "post" %>
              <% if can? :manage_modules_instances, ModuleProject %>
                <%= link_to('', {:controller => 'pemodules', :action => 'find_use_pemodule', :instance_model_name => 'guw_model_id', :instance_model_id => i.id}, :remote => true, :class => 'fa fa-map-marker', :title => I18n.t('button_find_use')) %>
                <%= link_to '', guw.guw_model_path(i), method: "DELETE", confirm: I18n.t(:are_you_sure), :class => 'fa fa-trash', :title => I18n.t('delete') %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>

    <% else %>
      <div class="red_color"><%= I18n.t(:notice_cannot_view_modules_instances) %></div>
    <% end %>
  </div>

  <div id="effort">
    <div class="row-fluid">
      <div class="span6">
        <b><%= I18n.t(:module_effort_generique) %></b>

        <% if can? :show_modules_instances, ModuleProject %>
          <% if can? :manage_modules_instances, ModuleProject %>
            <%= link_to I18n.t(:new_instance_of_effort), ge.new_ge_model_path(organization_id: @organization.id), :class => 'btn btn-mini pull-right' %>
            <hr>
          <% end %>

          <table class="table table-bordered">
            <tr>
              <th><%= I18n.t(:name) %></th>
              <th>Date de création</th>
              <th class="action"><%= I18n.t(:actions) %></th>
            </tr>

            <% @organization.ge_models.order("name asc").each do |i| %>
              <tr>
                <td class="span5">
                  <%= link_to i.name, ge.edit_ge_model_path(i, organization_id: @organization.id), confirm: I18n.t(:warning_edit_instance_module) %>
                </td>
                <td class="span2 align-center">
                  <%= i.created_at.nil? ? '-' : I18n.l(i.created_at) %>
                </td>
                <td class="align-center">
                  <%= link_to '', ge.edit_ge_model_path(i, organization_id: @organization.id), confirm: I18n.t(:warning_edit_instance_module), :class => 'fa fa-pencil', :title => I18n.t(:edit) %>
                  <%= link_to '', ge.ge_model_duplicate_path(i, organization_id: @organization.id), :class => 'fa fa-copy', :title => I18n.t(:duplicate_module), method: "post" %>
                  <% if can? :manage_modules_instances, ModuleProject %>
                    <%= link_to('', {:controller => 'pemodules', :action => 'find_use_pemodule', :instance_model_name => 'ge_model_id', :instance_model_id => i.id}, :remote => true, :class => 'fa fa-map-marker', :title => I18n.t('button_find_use')) %>
                    <%= link_to '', ge.ge_model_path(i), confirm: I18n.t('are_you_sure'), method: "DELETE",  :class => 'fa fa-trash', :title => I18n.t('delete') %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        <% else %>
          <div class="red_color"><%= I18n.t(:notice_cannot_view_modules_instances) %></div>
        <% end %>
      </div>

      <div class="span6">

        <b><%= I18n.t(:knowledge_base)%></b>

        <% if can? :show_modules_instances, ModuleProject %>
          <% if can? :manage_modules_instances, ModuleProject %>
            <%= link_to I18n.t(:New_knowledge_base), kb.new_kb_model_path(organization_id: @organization.id), :class => 'btn btn-mini pull-right' %>
            <hr>
        <% end %>

          <table class="table table-bordered">
            <tr>
              <th><%= I18n.t(:name) %></th>
              <th>Date de création</th>
              <th class="action"><%= I18n.t(:actions) %></th>
            </tr>

            <% @organization.kb_models.order("name asc").each do |i| %>
              <tr>
                <td class="span5">
                  <%= link_to i.name, kb.edit_kb_model_path(i, organization_id: @organization.id), confirm: I18n.t(:warning_edit_instance_module) %>
                </td>
                <td class="span2 align-center">
                  <%= i.created_at.nil? ? '-' : I18n.l(i.created_at) %>
                </td>
                <td class="align-center">
                  <%= link_to '', kb.edit_kb_model_path(i, organization_id: @organization.id), confirm: I18n.t(:warning_edit_instance_module), :class => 'fa fa-pencil', :title => I18n.t(:edit) %>
                  <%= link_to '', kb.kb_model_duplicate_path(i,organization_id: @organization.id), :class => 'fa fa-copy', :title => "Duplicate knowledge base", method: "post" %>
                  <% if can? :manage_modules_instances, ModuleProject %>
                    <%= link_to('', {:controller => 'pemodules', :action => 'find_use_pemodule', :instance_model_name => 'kb_model_id', :instance_model_id => i.id}, :remote => true, :class => 'fa fa-map-marker', :title => I18n.t('button_find_use')) %>
                    <%= link_to '', kb.kb_model_path(i), confirm: I18n.t('are_you_sure'), method: "DELETE",  :class => 'fa fa-trash', :title => I18n.t('delete') %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        <% else %>
          <div class="red_color">
            <%= I18n.t(:notice_cannot_view_modules_instances) %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <b>Module d'opération</b>

        <% if can? :show_modules_instances, ModuleProject %>
          <% if can? :manage_modules_instances, ModuleProject %>
            <%= link_to I18n.t(:new_instance_of_effort), operation.new_operation_model_path(organization_id: @organization.id), :class => 'btn btn-mini pull-right' %>
            <hr>
          <% end %>

          <table class="table table-bordered">
            <tr>
              <th><%= I18n.t(:name) %></th>
              <th>Date de création</th>
              <th class="action"><%= I18n.t(:actions) %></th>
            </tr>

            <% @organization.operation_models.order("name asc").each do |i| %>
              <tr>
                <td class="span5">
                  <%= link_to i.name, operation.edit_operation_model_path(i, organization_id: @organization.id), confirm: I18n.t(:warning_edit_instance_module) %>
                </td>
                <td class="span2 align-center">
                  <%= i.created_at.nil? ? '-' : I18n.l(i.created_at) %>
                </td>
                <td class="align-center">
                  <%= link_to '', operation.edit_operation_model_path(i, organization_id: @organization.id), confirm: I18n.t(:warning_edit_instance_module), :class => 'fa fa-pencil', :title => I18n.t(:edit) %>
                  <%= link_to '', operation.operation_model_duplicate_path(i, organization_id: @organization.id), :class => 'fa fa-copy', :title => I18n.t(:duplicate_module), method: "post" %>
                  <% if can? :manage_modules_instances, ModuleProject %>
                    <%= link_to('', {:controller => 'pemodules', :action => 'find_use_pemodule', :instance_model_name => 'operation_model_id', :instance_model_id => i.id}, :remote => true, :class => 'fa fa-map-marker', :title => I18n.t('button_find_use')) %>
                    <%= link_to '', operation.operation_model_path(i), confirm: I18n.t('are_you_sure'), method: "DELETE",  :class => 'fa fa-trash', :title => I18n.t('delete') %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        <% else %>
          <div class="red_color"><%= I18n.t(:notice_cannot_view_modules_instances) %></div>
        <% end %>
      </div>

      <div class="span6">

        <b><%= I18n.t(:Judgment_Expert) %></b>
        <% if can? :manage_modules_instances, ModuleProject %>
          <%= link_to I18n.t(:New_model_of_Judgment_Expert), expert_judgement.new_instance_path(organization_id: @organization.id), :class => 'btn btn-mini pull-right' %>
        <% end %>
        <hr>

        <table class="table table-bordered">
          <tr>
            <th><%= I18n.t(:name) %></th>
            <th>Date de création</th>
            <th class="action"><%= I18n.t(:actions) %></th>
          </tr>

          <% @organization.expert_judgement_instances.order("name asc").each do |i| %>
            <tr>
              <td class="span5">
                <%= link_to i.name, expert_judgement.edit_instance_path(i, organization_id: @organization.id), confirm: I18n.t(:warning_edit_instance_module) %>
              </td>
              <td class="span2 align-center">
                -
              </td>
              <td class="align-center">
                <%= link_to '', expert_judgement.edit_instance_path(i, organization_id: @organization.id), confirm: I18n.t(:warning_edit_instance_module), :class => 'fa fa-pencil', :title => I18n.t(:edit) %>
                <% if can? :manage_modules_instances, ModuleProject %>
                  <%= link_to '', expert_judgement.instance_duplicate_expert_judgment_path(i, organization_id: @organization.id), :class => 'fa fa-copy', :title => I18n.t(:duplicate_module), method: "post" %>
                  <%= link_to('', {:controller => 'pemodules', :action => 'find_use_pemodule', :instance_model_name => 'expert_judgement_instance_id', :instance_model_id => i.id}, :remote => true, :class => 'fa fa-map-marker', :title => I18n.t('button_find_use')) %>
                  <%= link_to '', expert_judgement.instance_path(i),  confirm: I18n.t('are_you_sure'), method: "DELETE",  :class => 'fa fa-trash', :title => I18n.t('delete') %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div id="activite">
      <b><%= I18n.t :wbs_activities %></b>

      <% if can? :show_modules_instances, ModuleProject %>

        <% if can? :manage_modules_instances, ModuleProject %>
          <a href="#myWBSModal" role="button" class="btn pull-right" title="<%= I18n.t(:guide_import_wbs_activity) %>" data-toggle="modal"><%= I18n.t(:import_wbs_activity) %></a>
          <%= link_to I18n.t(:new_wbs_activity), new_organization_wbs_activity_path(@organization), :class => 'btn pull-right', :title => "#{I18n.t(:guide_create_wbs_activity)}" %>
        <% end %>
        <br>

        <table class="table table-bordered">
          <tr>
            <th><%= I18n.t(:name) %></th>
            <th><%= I18n.t(:description) %></th>
            <th>Date de création</th>
            <th class="action" style="width: 160px"><%= I18n.t(:actions) %></th>
          </tr>

          <% @wbs_activities.order("name asc").each do |wbs_activity| %>
            <tr>
              <td><%= link_to(wbs_activity.name, edit_wbs_activity_path(wbs_activity, :anchor => 'tabs-1'), confirm: I18n.t(:warning_edit_instance_module)) %></td>
              <td><%= wbs_activity.description %></td>
              <td class="span2 align-center">
                <%= wbs_activity.created_at.nil? ? '-' : I18n.l(wbs_activity.created_at) %>
              </td>
              <td class="center">
                <%= link_to '', edit_organization_wbs_activity_path(@organization, wbs_activity, :anchor => 'tabs-1'), confirm: I18n.t(:warning_edit_instance_module), :class => 'icon-pencil', :title => I18n.t(:edit) %>
                <% if can? :manage_modules_instances, ModuleProject %>
                  <%#= link_to('', "wbs_activities/#{wbs_activity.id}/duplicate_wbs_activity", :class => 'button_attribute_tooltip icon-copy', :title => 'Duplicate') %>
                  <%= link_to '', duplicate_wbs_activity_path(wbs_activity_id: wbs_activity.id, organization_id: @organization.id), :class => 'icon-copy', :title => I18n.t(:duplicate_module) %>
                  <%= link_to('', {:controller => 'pemodules', :action => 'find_use_pemodule', :instance_model_name => 'wbs_activity_id', :instance_model_id => wbs_activity.id}, :remote => true, :class => 'icon-map-marker', :title => I18n.t('button_find_use')) %>
                  <%= link_to '', wbs_activity, confirm: I18n.t(:are_you_sure), method: :delete, :class => 'icon-trash', :title => I18n.t(:delete) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>

        <div id="myWBSModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <%= form_tag import_wbs_activities_path, :multipart => true, :class => 'simple_form' do %>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel"><%= I18n.t(:import) %> <%= I18n.t(:wbs_activity) %></h3>
            </div>
            <div class="modal-body">
              <label><%= I18n.t(:file_csv) %></label>
              <%= file_field_tag :file %>

              <label><%= I18n.t(:separator) %>'<%= I18n.t(:general_csv_separator) %>') </label>
              <%= text_field_tag :separator %>

              <label><%= I18n.t(:encoding) %></label>
              <%= select_tag :encoding, options_for_select(Project::encoding, :selected => I18n.t(:general_csv_encoding)) %>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
              <%= submit_tag I18n.t(:import), :class => 'btn btn-primary', :onclick => "$('.loading').show();" %>
            </div>
            <div class="loading span11 hide">
              <h4><%= I18n.t(:please_wait_import) %><%= image_tag 'ajax-loader.gif' %> </h4>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="red_color"><%= I18n.t(:notice_cannot_view_modules_instances) %></div>
      <% end %>
  </div>

  <div id="team">
    <b><%= I18n.t(:team_module) %></b>

    <% if can? :show_modules_instances, ModuleProject %>
      <% if can? :manage_modules_instances, ModuleProject %>
        <%= link_to I18n.t(:New_Team_module_instance), staffing.new_staffing_model_path(organization_id: @organization.id), :class => 'btn btn-mini pull-right' %>
      <% end %>

      <table class="table table-bordered">
        <tr>
          <th><%= I18n.t(:name) %></th>
          <th>Date de création</th>
          <th class="action"><%= I18n.t(:actions) %></th>
        </tr>

        <% @organization.staffing_models.order("name asc").each do |i| %>
          <tr>
            <td class="span5">
              <%= link_to i.name, staffing.edit_staffing_model_path(i, organization_id: @organization.id), confirm: I18n.t(:warning_edit_instance_module) %>
            </td>
            <td class="span2 align-center">
              <%= i.created_at.nil? ? '-' : I18n.l(i.created_at) %>
            </td>
            <td class="align-center">
              <%= link_to '', staffing.edit_staffing_model_path(i, organization_id: @organization.id), confirm: I18n.t(:warning_edit_instance_module), :class => 'fa fa-pencil', :title => I18n.t(:edit) %>
              <%= link_to '', staffing.staffing_model_duplicate_path(i, organization_id: @organization.id), :class => 'fa fa-copy', :title => I18n.t(:duplicate_module), method: "post" %>
              <% if can? :manage_modules_instances, ModuleProject %>
                <%= link_to('', {:controller => 'pemodules', :action => 'find_use_pemodule', :instance_model_name => 'staffing_model_id', :instance_model_id => i.id}, :remote => true, :class => 'fa fa-map-marker', :title => I18n.t('button_find_use')) %>
                <%= link_to '', staffing.staffing_model_path(i), confirm: I18n.t('are_you_sure'), method: "DELETE",  :class => 'fa fa-trash', :title => I18n.t('delete') %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <div class="red_color"><%= I18n.t(:notice_cannot_view_modules_instances) %></div>
    <% end %>
  </div>

</div>
