<div class="alert alert-info">
  <span>
    <i class="icon icon-info"></i>
    For each technology, configure equivalents size (in percent) depending on size's type.
  </span>
</div>

<% @size_units.each do |size_unit| %>

  <h4> <%= size_unit.name %></h4>
  <%# hidden_field_tag "size_unit[#{size_unit.id}]", size_unit.id %>

  <table class="table table-striped table-bordered table-condensed permissions">
    <th></th>
    <% @technologies.each do |technology| %>
      <th>
        <span class="attribute_tooltip" title='<%= technology.description %>'>
          <%= technology.name %>
        </span>
      </th>
    <% end %>

    <% if @size_unit_types %>
      <% @size_unit_types.each do |sut| %>
        <tr>
          <td style="text-align: right;">
            <span class="attribute_tooltip" style="font-weight:bold" title='<%= sut.description %>'>
              <%= sut.name %>
            </span>
          </td>
          <% @technologies.each do |t| %>
            <td style="text-align: center;">
              <% tst = TechnologySizeType.where(organization_id: @organization.id,
                                                organization_technology_id: t.id,
                                                size_unit_id: size_unit.id,
                                                size_unit_type_id: sut.id).first %>
              <%= text_field_tag "abacus[#{size_unit.id}][#{t.id}][#{sut.id}]", tst.nil? ? '' : tst.value %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>