<div class="alert alert-info">
  <span>
    <i class="icon icon-info"></i>
    <%= I18n.t(:config_function_point)%>
  </span>
</div>

<table class="table table-striped table-bordered table-condensed permissions">
  <th></th>
  <% @size_units.each do |su| %>
    <th>
        <span class="attribute_tooltip" title='<%= su.description %>'>
          <%= su.name %> -> SLOC
        </span>
    </th>
  <% end %>

  <% if @technologies %>
    <% @technologies.each do |technology| %>
      <tr>
        <td style="text-align: right;">
            <span class="attribute_tooltip" style="font-weight:bold" title='<%= technology.description %>'>
              <%= technology.name %>
            </span>
        </td>
        <% @size_units.each do |su| %>
          <td style="text-align: center;">
            <% tsu = TechnologySizeUnit.where(organization_id: @organization.id,
                                              organization_technology_id: technology.id,
                                              size_unit_id: su.id).first %>
            <%= text_field_tag "technology_size_units_abacus[#{su.id}][#{technology.id}]", tsu.nil? ? '' : tsu.value %>
          </td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>