<%= form_tag '/set_technology_uow_synthesis', :method => 'POST', :class => 'simple_form' do %>

  <%= hidden_field_tag "organization", params[:id] %>

    <table class="table table-bordered permissions">
      <tr>
        <th><%= I18n.t(:technology) %></th>
        <th><%= I18n.t(:unit_of_work)%>/th>
        <th><%= I18n.t(:complexity)%></th>
        <% @organization.size_unit_types.each do |sut| %>
          <th><%= link_to "#{sut.name}", edit_size_unit_type_path(sut, organization_id: @organization.id) %></th>
        <% end %>
      </tr>

      <% @organization.organization_technologies.each do |ot| %>
        <% ot.unit_of_works.each do |uow| %>
          <% OrganizationUowComplexity.where(organization_technology_id: ot.id, unit_of_work_id: uow.id).all.each do |cplx| %>
            <tr>
              <td>
                <%= link_to ot.name, edit_organization_technology_path(ot, organization_id: @organization.id) %>
              </td>

              <td>
                <%= link_to uow.name, edit_unit_of_work_path(uow, organization_id: @organization.id) %>
              </td>

              <td>
                <%= link_to cplx, edit_organization_uow_complexity_path(cplx, organization_id: @organization.id, uo_id: uow.id) %>
              </td>

              <% @organization.size_unit_types.each do |sut| %>
                <td class="center">
                  <% sutc = SizeUnitTypeComplexity.where(size_unit_type_id: sut.id, organization_uow_complexity_id: cplx.id).first %>
                  <% if sutc %>
                    <%= text_field_tag "abacus[#{sut.id}][#{ot.id}][#{uow.id}][#{cplx.id}]", sutc.value %>
                  <% else %>
                     <%= text_field_tag "abacus[#{sut.id}][#{ot.id}][#{uow.id}][#{cplx.id}]", nil %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </table>

    <% if can? :manage_modules_instances, ModuleProject %>
      <%= submit_tag I18n.t('apply'), :class => 'btn' %>
    <% end %>
    <%= link_to I18n.t(:Technologies_List), organization_setting_path(organization_id: @organization, anchor: "tabs-technology"), class: "btn" %>
    <%= link_to I18n.t(:List_of_Works_Units), unit_of_works_path(organization_id: @organization), class: "btn" %>
    <%= link_to I18n.t(:List_of_Acquisitions_Types), organization_setting_path(organization_id: @organization, anchor: "tabs-size_unit"), class: "btn" %>

<% end %>

