<%= form_tag '/set_technology_uos_syntesis', :method => 'POST', :class => 'simple_form' do %>

  <%= hidden_field_tag "organization", params[:id] %>

  <div class="pull-left">
    Select the size unit to display
    <%= select_tag 'Size Unit', options_for_select(SizeUnit.all.map { |i| [i.name, i.id] }), :class => 'select_size_unit' %>
  </div>

  <div id="value_section">
    <%= render 'organizations/abacus_table_values' %>
  </div>

  <% if can? :edit_organizations, Organization %>
    <%= submit_tag I18n.t('save'), :class => 'btn' %>
    <%= submit_tag I18n.t('apply'), :class => 'btn' %>
  <% end %>

<% end %>

