<%= form_tag url_for( {:action => 'destroy', :controller => 'organizations', :id => @organization.id}), {:method => 'delete', :class=>'simple_form'} do %>
    <h3><%= "#{@organization.name}" %></h3>
    <div class="confirm_deletion">

      <%= I18n.t(:text_confirm_organization_deletion, organization_name: @organization.name) %>

      <br /><br />
      <div class="actions">
        <span style="margin-right: 10px;"> <%= check_box_tag "yes_confirmation", 'selected' %>  <%= I18n.t('simple_form.yes') %></span>
        <%= submit_tag I18n.t('delete'), :class => 'btn', :id => 'yes_delete_project' %>
        <%= submit_tag I18n.t('cancel'), :class => 'btn', :id => 'cancel_project_deletion' %>
      </div>
    </div>
<% end %>

<div id="display_animation_ajax_loader" style="display: none">
  <p>Veuillez patienter, la suppression de l'organisation et des objets liés est en cours...</p>
  <p><%= image_tag "green-animation-ajax-loader.gif", :id => "loading-indicator" %></p>
</div>