<%#= render :partial => 'organizations/organization_projects', object: [@organization, @projects] %>
<div class="tabs">
  <ul>
    <li><a href="#tabs-group">Estimations</a></li>
  </ul>

  <div id="tabs-estimations" class="ui-tabs-panel ui-widget-content ui-corner-bottom">

    <table>
      <tr>
        <td>
          <%= I18n.t(:label_filter_on_projects_version) %>
          <%= select_tag 'filter_organization_projects_version', options_for_select([[I18n.t(:label_filter_on_project_version_1),1], [I18n.t(:label_filter_on_project_version_2),2], [I18n.t(:label_filter_on_project_version_3),3], [I18n.t(:label_filter_on_project_version_4),4]], :selected => 1), 'data-organization_id' => @organization.id, :include_blank => false %>
        </td>

        <td colspan=2 style="text-align:right;">
          <% if can? :create_project_from_template, Project %>
              <%= link_to I18n.t('new_project_from'), projects_from_path(organization_id: @organization.id), :class => 'btn' %>
          <% end %>

          <% if can? :create_project_from_scratch, Project %>
              <%= link_to I18n.t('new_project'), new_project_path(organization_id: @organization.id), :class => 'btn' %>
          <% end %>

          <% if can? :show_project, Project %>
              <%= link_to "Générer un rapport à partir du tableau", "#!", :class => 'btn export' %>
          <% end %>
        </td>
      </tr>
    </table>

    <div id="organization_projects">
      <%= render :partial => 'organizations/organization_projects', object: [@organization, @projects] %>
    </div>

  </div>
</div>