<div class="tabs">
  <ul>
    <li><a href="#tabs-report"><%= I18n.t(:Exel_generator) %></a></li>
  </ul>

  <div id="tabs-report" class="ui-tabs-panel ui-widget-content ui-corner-bottom">

    <h3><%= I18n.t(:Generate_Excel_report) %></h3>

    <%= form_tag "generate_report_excel", method: "post" do %>

      <%= hidden_field_tag "organization_id", params[:organization_id] %>

      <div class="row-fluid">
        <div class="span12">
          <%= label_tag I18n.t(:label_project_name) %>
          <%= text_field_tag "title", "" %>
        </div>
      </div>

      <br>

      <div class="row-fluid">
        <div class="span12">
          <%= label_tag I18n.t(:Product_Name) %>
          <%= text_field_tag "application", "" %>
        </div>
      </div>

      <br>

      <div class="row-fluid">
        <div class="span12">
          <%= label_tag I18n.t(:Start_date_organizations) %>
          <%= text_field_tag "report_date[start_date]", "", class: 'date-picker' %>
        </div>
      </div>

      <br>

      <div class="row-fluid">
        <div class="span12">
          <%= label_tag I18n.t(:end_date_organizations) %>
          <%= text_field_tag "report_date[end_date]", "", class: 'date-picker' %>
        </div>
      </div>

      <br>

      <div class="row-fluid">
        <div class="span12">
          <%= label_tag I18n.t(:Platform_Categorie_organization) %>
          <%= select_tag "report[platform_category_id]", options_for_select(@organization.platform_categories.map{|i| [i.name, i.id]}), prompt: "Indifférent" %>
        </div>
      </div>

      <br>

      <div class="row-fluid">
        <div class="span12">
          <%= label_tag I18n.t(:Project_Category) %>
          <%= select_tag "report[project_category_id]", options_for_select(@organization.project_categories.map{|i| [i.name, i.id]}), prompt: "Indifférent" %>
        </div>
      </div>

      <br>

      <div class="row-fluid">
        <div class="span12">
          <%= label_tag I18n.t(:Category_acquistion) %>
          <%= select_tag "report[acquisition_category_id]", options_for_select(@organization.acquisition_categories.map{|i| [i.name, i.id]}), prompt: "Indifférent" %>
        </div>
      </div>

      <br>

      <div class="row-fluid">
        <div class="span12">
          <%= label_tag I18n.t(:project_area) %>
          <%= select_tag "report[project_area_id]", options_for_select(@organization.project_areas.map{|i| [i.name, i.id]}), prompt: "Indifférent" %>
        </div>
      </div>

      <br>

      <div class="row-fluid">
        <div class="span12">
          <%= label_tag I18n.t(:Estimating_Status) %>
          <%= select_tag "report[estimation_status_id]", options_for_select(@organization.estimation_statuses.map{|i| [i.name, i.id]}), prompt: "Indifférent" %>
        </div>
      </div>

      <br>

      <div class="row-fluid">
        <div class="span12">
          <%= label_tag I18n.t(:with_header) %>
          <%= check_box_tag "with_header", "checked", true %>

          <%= submit_tag I18n.t(:Generate_Report), class: "btn pull-right" %>
        </div>
      </div>

    <% end %>
  </div>
</div>

<script>
  $(document).ready(function () {
    $(".date-picker").datepicker({
      language: '<%= set_user_language %>',
      autoclose: true,
      todayHighlight: true,
      todayBtn: true
    });
  });
</script>