<% if @resource.super_admin? %>

    <p><%= I18n.t(:create_organization_confirmation_instructions, firstname: @firstname, lastname: @lastname, password: @password, login_name: @login_name, organization_name: @organization_name, connexion_url: SETTINGS['HOST_URL']) %> </p>

<% else %>

    <p><%= I18n.t(:text_welcome) %> <%= @email %>!</p>

<% end %>

<p><%= I18n.t(:mail_confirm_account_through_link_below) %></p>

<p><%= link_to I18n.t(:label_confirm_my_account), confirmation_url(@resource, confirmation_token: @token) %></p>

<%=simple_format(I18n.t(:mail_footer)) %>
<a href='<%= "#{SETTINGS['HOST_URL']}" %>'>Estimancy</a>