<p><%= simple_format(I18n.t(:mail_salutation, :value => @resource.email)) %></p>

<p><%= I18n.t(:mail_someone_has_requested_link_change_password) %></p>

<p><%=I18n.t(:mail_body_lost_password) %> <%= link_to I18n.t(:label_change_my_password), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= I18n.t(:mail_if_dont_request_ignore_this_email) %></p>

<p><%= I18n.t(:mail_password_wont_change_until_access_above_link) %></p>

<%=simple_format(I18n.t(:mail_body_lost_password_token_delay)) %>

<%=simple_format(I18n.t(:mail_complimentary_close)) %>

<%=simple_format(I18n.t(:mail_footer)) %>
<a href='<%= "#{SETTINGS['HOST_URL']}" %>'>Estimancy</a>
