<h1>Listing size_units</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Alias</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @size_units.each do |size_unit| %>
  <tr>
    <td><%= size_unit.name %></td>
    <td><%= size_unit.alias %></td>
    <td><%= size_unit.description %></td>
    <td><%= link_to 'Show', size_unit %></td>
    <td><%= link_to 'Edit', edit_size_unit_path(size_unit) %></td>
    <td><%= link_to 'Destroy', size_unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Size unit', new_size_unit_path %>
