<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @size_unit.name %>
</p>

<p>
  <b>Alias:</b>
  <%= @size_unit.alias %>
</p>

<p>
  <b>Description:</b>
  <%= @size_unit.description %>
</p>


<%= link_to 'Edit', edit_size_unit_path(@size_unit) %> |
<%= link_to 'Back', size_units_path %>
