<ul class="nav">

  <li class="dropdown">
    <a href="<%= main_app.organization_estimations_path(@organization) %>" title="Liste des estimations">
      <i class="icon icon-list-ul icon-large pull-left" style="margin-top: -2px;"></i>&nbsp;
    </a>
  </li>

  <li class="dropdown">
    <% begin %>
      <% if @project %>
        <a href="<%= main_app.dashboard_path(@project) %>" title="Estimation en cours">
          <i class="fa fa-calculator icon-large pull-left" style="margin-top: -1px;"></i>&nbsp;</b>
        </a>
      <% else %>
        <a href="<%= main_app.projects_path %>">
          <i class="fa fa-calculator icon-large pull-left" style="margin-top: -1px;"></i>&nbsp;</b>
        </a>
      <% end %>
    <% rescue %>
      <a href="<%= main_app.projects_path %>">
        <i class="fa fa-calculator icon-large pull-left" style="margin-top: -1px;"></i>&nbsp;</b>
      </a>
    <% end %>
  </li>

  <li class="dropdown">
    <a href="#" title="Rapport">
      <i class="icon icon-print icon-large pull-left" style="margin-top: -2px;"></i>&nbsp;
    </a>
  </li>

  <li class="divider-vertical"></li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="Environnement utilisateur">
      <i class="fa fa-user fa-lg pull-left" style="margin-top: 4px; color: black;"></i>&nbsp;</b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="<%= main_app.edit_user_path(current_user) %>" title="<%= I18n.t 'edit' %>">
          <%= current_user %>
        </a>
      </li>

      <li class="dropdown">
        <a href="<%= main_app.organization_authorization_path(@organization) %>"> Autorisations </a>
      </li>

      <li class="dropdown">
        <a href="<%= main_app.organization_users_path(@organization) %>"> <%= I18n.t(:users) %> </a>
      </li>

      <li class="dropdown">
        <a href="/organizationals_params"> Changement d'organisation </a>
      </li>
    </ul>
  </li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="Configuration et paramétrage">
      <i class="icon-cog icon-large pull-left"></i></b>
    </a>
    <ul class="dropdown-menu">
      <% if @organization %>
          <li class="dropdown">
            <a href="<%= main_app.edit_organization_path(@organization)%>">
              <%= @organization %>
            </a>
          </li>
          <li class="dropdown">
            <a href="<%= main_app.organization_setting_path(@organization)%>">
              Paramétrage
            </a>
          </li>
          <li class="dropdown">
            <a href="<%= main_app.organization_module_estimation_path(@organization)%>">
              Module
            </a>
          </li>
      <% end %>
    </ul>
  </li>

  <li class="dropdown">
    <% if current_user.super_admin? %>
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="<%= I18n.t :label_menu_master_admin %>">
          <i class="icon icon-wrench pull-left"></i></b>
        </a>
        <ul class="dropdown-menu">
          <li class="dropdown"><a href="organizationals_params">
            <%= I18n.t(:organizations) %></a>
          </li>

          <li class="dropdown"><a href="<%= main_app.users_path %>"> <%= I18n.t(:users) %></a></li>

          <li class="dropdown"><a href="<%= main_app.profiles_path %>"> <%= I18n.t(:profiles) %> </a></li>

          <li class="dropdown"><a href="<%= main_app.technologies_path %>">
            <%= I18n.t(:organization_technology) %></a>
          </li>

          <li class="dropdown"><a href="<%= main_app.currencies_path %>">
            <%= I18n.t(:currencies) %></a>
          </li>

          <li class="dropdown"><a href="<%= main_app.factors_path %>">
            <%= I18n.t(:factors) %></a>
          </li>

          <li class="divider"></li>

          <li class="dropdown"><a href="<%= main_app.admin_settings_path %>">
            Paramétrages techniques</a>
          </li>

          <li class="dropdown"><a href="<%= main_app.audits_path %>"> Audits </a></li>

          <li class="divider"></li>


          <li class="dropdown"><a href="<%= main_app.pe_attributes_path %>">
            <%= I18n.t(:pe_attributes) %></a>
          </li>

          <li class="dropdown"><a href="<%= main_app.pemodules_path %>">
              <%= I18n.t(:projestimate_module) %></a>
          </li>

          <li class="dropdown"><a href="<%= main_app.permissions_path %>">
              <%= I18n.t(:all_permissions) %></a>
          </li>

          <li class="dropdown"><a href="<%= main_app.languages_path %>">
              <%= I18n.t(:languages) %></a>
          </li>

          <li class="dropdown"><a href="/translations">
              <%= I18n.t(:translations) %></a>
          </li>

          <li class="dropdown"><a href="<%= main_app.record_statuses_path %>">
              <%= I18n.t(:record_status) %></a>
          </li>
        </ul>
    <% end %>
  </li>
</ul>


<ul class="nav pull-right">

  <li class="divider-vertical"></li>

  <li>
    <a href="<%= main_app.destroy_user_session_path %>#" data-method="delete" rel="nofollow" title="<%= I18n.t 'logout' %>">
      <i class="icon-off icon-large" style="margin-top: -4px; vertical-align: 0;"></i>
    </a>
  </li>

  <li class="divider-vertical"></li>

  <li>
    <a href="<%= load_admin_setting('url_wiki') %>" title="<%= I18n.t 'services' %>" >
      <i class="icon-book icon-large"style="vertical-align: 0;"></i>
    </a>
  </li>

  <li class="divider-vertical"></li>

  <li>
    <a href="<%= load_admin_setting('url_service') %>" title="<%= I18n.t 'services' %>">
      <i class="fa fa-users fa-lg" style="color: #000000;"></i>
    </a>
  </li>

  <li class="divider-vertical"></li>

  <li>
    <a href="/about" title="<%= I18n.t 'about' %>">
      <i class="fa fa-info-circle fa-lg" style="color: #000000"></i>
    </a>
  </li>

  <li>
    <%= image_tag '/assets/ajax-loader.gif', :class => 'spiner hide' %>
  </li>

</ul>


<ul class="nav">
  <li class="divider-vertical"></li>
</ul>

<ul class="nav">
  <ul class="breadcrumb">
    <% @breacrumbs.each_with_index do |k, i| %>
        <li>
          <% if i != @breacrumbs.length - 1 %>
            <a href="<%= k[1] %>">
              <%= k[0] %>
            </a>
            <span class="divider">/</span>
          <% else %>
            <%= k[0].to_s.html_safe %>
        <% end %>
        </li>
    <% end %>
  </ul>
</ul>