<ul class="nav">

  <li class="dropdown">
    <a href="<%= main_app.organization_estimations_path(@current_organization) %>" title="<%= I18n.t(:Import_user_from_excel)%>">
      <i class="fa fa-list-ul fa-lg pull-left"></i>&nbsp;
    </a>
  </li>

  <li class="dropdown">
    <% begin %>
      <% if @project %>
        <a href="<%= main_app.dashboard_path(@project) %>" title="<%= I18n.t(:Current_estimate)%>">
          <i class="fa fa-calculator fa-lg pull-left"></i>&nbsp;</b>
        </a>
      <% else %>
        <a href="<%= main_app.organization_estimations_path(@current_organization) %>">
          <i class="fa fa-calculator fa-lg pull-left"></i>&nbsp;</b>
        </a>
      <% end %>
    <% rescue %>
      <a href="<%= main_app.organization_estimations_path(@current_organization) %>">
        <i class="fa fa-calculator fa-lg pull-left"></i>&nbsp;</b>
      </a>
    <% end %>
  </li>

  <li class="dropdown">
    <a href="<%= main_app.organization_report_path(@current_organization) %>" title="<%= I18n.t(:report)%>">
      <i class="fa fa-print fa-lg pull-left"></i>&nbsp;
    </a>
  </li>

  <li class="divider-vertical"></li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="<%=I18n.t(:users_env)%>">
      <i class="fa fa-user fa-lg pull-left" style="margin-top: 4px; color: black;"></i>&nbsp;</b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="<%= main_app.edit_organization_user_path(@current_organization, current_user) %>" title="<%= I18n.t 'edit' %>">
          <%= current_user %>
        </a>
      </li>

      <li class="dropdown">
        <a href="<%= main_app.organization_authorization_path(@current_organization) %>"> <%= I18n.t(:permission) %> </a>
      </li>

      <li class="dropdown">
        <a href="<%= main_app.organization_users_path(@current_organization) %>"> <%= I18n.t(:users) %> </a>
      </li>

      <li class="dropdown">
        <a href="/organizationals_params"><%= I18n.t(:Organisation_change) %> </a>
      </li>
    </ul>
  </li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="<%= I18n.t(:config_and_setting)%>">
      <i class="fa fa-cog fa-lg pull-left"></i></b>
    </a>
    <ul class="dropdown-menu">
      <% if @current_organization %>
          <li class="dropdown">
            <a href="<%= main_app.edit_organization_path(@current_organization)%>">
              <%= @current_organization %>
            </a>
          </li>
          <li class="dropdown">
            <a href="<%= main_app.organization_setting_path(@current_organization)%>">
              <%= I18n.t(:setting)%>
            </a>
          </li>
          <li class="dropdown">
            <a href="<%= main_app.organization_module_estimation_path(@current_organization)%>">
              <%= I18n.t(:projestimate_module)%>
            </a>
          </li>
      <% end %>
    </ul>
  </li>

  <li class="dropdown">
    <% if current_user.super_admin? %>
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="<%= I18n.t :label_menu_master_admin %>">
          <!--<i class="icon icon-wrench pull-left"></i></b>-->
          <i class="fa fa-user-plus fa-lg pull-left"></i>
        </a>
        <ul class="dropdown-menu">
          <li class="dropdown"><a href="<%= main_app.organizationals_params_path %> ">
            <%= I18n.t(:organizations) %></a>
          </li>

          <li class="dropdown"><a href="<%= main_app.users_path %>"> <%= I18n.t(:users) %></a></li>

          <li class="dropdown"><a href="<%= main_app.profiles_path %>"> <%= I18n.t(:profiles) %> </a></li>

          <li class="dropdown"><a href="<%= main_app.currencies_path %>">
            <%= I18n.t(:currencies) %></a>
          </li>

          <li class="divider"></li>

          <li class="dropdown"><a href="<%= main_app.admin_settings_path %>">
            <%= I18n.t(:tech_setting) %></a>
          </li>

          <li class="dropdown"><a href="<%= main_app.auth_methods_path %>">
            <%= I18n.t(:auth_methods) %></a>
          </li>

          <li class="dropdown"><a href="<%= main_app.maintenances_path %>">
            <%= I18n;t(:maintenance_message)%></a>
          </li>

          <li class="dropdown"><a href="<%= main_app.audits_path %>"> <%= I18n.t(:Audit)%> </a></li>

          <li class="divider"></li>

          <li class="dropdown"><a href="<%= main_app.pe_attributes_path %>">
            <%= I18n.t(:pe_attributes) %></a>
          </li>

          <li class="dropdown"><a href="<%= main_app.pemodules_path %>">
              <%= I18n.t(:projestimate_module) %></a>
          </li>

          <li class="dropdown"><a href="<%= main_app.permissions_path %>">
              <%= I18n.t(:all_permissions) %></a>
          </li>

          <li class="dropdown"><a href="<%= main_app.languages_path %>">
              <%= I18n.t(:languages) %></a>
          </li>

          <li class="dropdown"><a href="<%= main_app.record_statuses_path %>">
              <%= I18n.t(:record_status) %></a>
          </li>
        </ul>
    <% end %>
  </li>
</ul>

<ul class="nav pull-right">

  <li class="divider-vertical"></li>

  <li>
    <a href="<%= main_app.destroy_user_session_path %>#" data-method="delete" rel="nofollow" title="<%= I18n.t 'logout' %>">
      <i class="fa fa-power-off fa-lg"></i>
    </a>
  </li>

  <li class="divider-vertical"></li>
  <li>
    <a href="#FeedbackModal"  data-toggle="modal" title="<%= I18n.t(:send_feedback)%>">
      <i class="fa fa-comment"></i>
    </a>
  </li>

  <li class="divider-vertical"></li>

  <li>
    <a href="<%= load_admin_setting('url_wiki') %>" title="<%= I18n.t 'wiki' %>" target="_blank" >
      <i class="fa fa-book fa-lg" ></i>
    </a>
  </li>

  <li class="divider-vertical"></li>

  <li>
    <a href="<%= load_admin_setting('url_service') %>" title="<%= I18n.t 'services' %>" target="_blank">
      <i class="fa fa-users fa-lg" ></i>
    </a>
  </li>

  <li class="divider-vertical"></li>

  <li>
    <a href="/about" title="<%= I18n.t 'about' %>" target="_blank">
      <i class="fa fa-info-circle fa-lg" ></i>
    </a>
  </li>

  <li>
    <%= image_tag '/assets/ajax-loader.gif', :class => 'spiner hide' %>
  </li>

</ul>


<ul class="nav">
  <li class="divider-vertical"></li>
</ul>

<ul class="nav">
  <ul class="breadcrumb">
    <% @breacrumbs.each_with_index do |k, i| %>
        <li>
          <% if i != @breacrumbs.length - 1 %>
            <a href="<%= k[1] %>">
              <%= k[0] %>
            </a>
            <span class="divider">/</span>
          <% else %>
              <% if k[1] != "" %>
                <%= link_to(k[0].to_s.html_safe, k[1], :title => "#{I18n.t(:label_add_status_change_comment)}", :remote => true) %>
              <% else %>
                <%= k[0].to_s.html_safe %>
              <% end %>
        <% end %>
        </li>
    <% end %>
  </ul>
</ul>


<div id="FeedbackModal" style="width: 600px;" class="modal hide fade" tabindex="-1" role="dialog" >

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h3 id="myModalLabel"><%= I18n.t(:send_feedback) %> &nbsp; - &nbsp;<%= I18n.t(:notice_send_feedback) %></h3>
  </div>

  <div class="modal-body" >
    <div id="error_send_feedback" class="alert alert-error hide" style="margin-bottom: 15px; ">
      <%= I18n.t('error_send_feedback_empty') %>
    </div>

    <%= simple_form_for(:send_feedback, {:url => main_app.send_feedback_path, :method => 'post'}) do |f| %>
        <div>
          <%= f.input :user_name, :label => I18n.t('user'), :input_html => {:class => 'input-xxlarge', :value => current_user.nil? ? '' : (current_user.first_name + ' ' + current_user.last_name + ' (' + current_user.email+ ' )') } %>
          <%= f.input :type, :label => I18n.t('label_feedback_type'), :input_html => {:class => 'input-large'}, :collection => (['Problem', 'Suggestion', 'Other']) %>
          <%= f.input :description, :label => I18n.t('description'), :as => :text, :input_html => {:class => 'input-xxlarge', :rows => 8} %>
        </div>
        <div class="modal-footer-left">
          <%= f.submit I18n.t('send_request'), :class => 'btn' %>
          <button class="btn" data-dismiss="modal" aria-hidden="true" id="cancel"><%= I18n.t(:cancel) %></button>
        </div>
    <% end %>
  </div>

</div>

<script>
    <% if allow_feedback? %>
    $(".btn-primary").show();
    <% else %>
    $(".btn-primary").hide();
    <% end %>
</script>