<ul class="nav">
  <!--<li>-->
    <!--<a href="#" id="toggle_button" title="<%= I18n.t 'title_hide_show_menu' %>">-->
      <!--<i class="icon-double-angle-down icon-large pull-left" style="margin-top: 1px;"></i>-->
    <!--</a>-->
  <!--</li>-->

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="<%= I18n.t :estimate %>">
      <i class="icon-home icon-large pull-left"></i>&nbsp;
    </a>
    <ul class="dropdown-menu">
      <li class="dropdown">
        <a href="<%= main_app.projects_url %>">
          <!--<i class=" icon-list icon-large pull-left"></i> -->
          <%= I18n.t('all_projects') %>
        </a>
      </li>

      <% if @project %>
        <% if !@project.nil? && !@project.new_record? %>
          <li class="dropdown">
            <a href="<%= main_app.dashboard_path(@project)%>">
              <%= @project %>
            </a>
          </li>
        <% end %>
      <% end %>

      <% if (can? :create_project_from_scratch, Project) or (can? :create_project_from_template, Project) %>
        <li class="dropdown">
          <a href="/projects_from">
            <!--<i class="icon-plus icon-large pull-left"></i>-->
            <%= I18n.t('new_project_from') %></a>
        </li>
      <% end %>
    </ul>
  </li>

  <li class="divider-vertical"></li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="<%= I18n.t :label_menu_organization %>">
      <i class="icon-tasks icon-large pull-left"></i>&nbsp;</b>
    </a>
    <ul class="dropdown-menu">
      <li class="dropdown"><a href="/organizationals_params">
        <!--<i class="icon-globe icon-large pull-left"></i>-->
        <%= I18n.t(:organization_setting) %></a>
      </li>
      <% if @project %>
        <% if !@project.organization.nil? %>
          <li class="dropdown">
            <a href="<%= main_app.edit_organization_path(@project.organization)%>">
              <%= @project.organization %>
            </a>
          </li>
        <% end %>
      <% end %>
      <% if can? :manage, Factor %>
          <li class="dropdown"><a href="<%= main_app.factors_path %>">
            <!--<i class="icon-globe icon-large pull-left"></i>-->
            <%= I18n.t(:factors) %></a>
          </li>
      <% end %>
    </ul>
  </li>

  <li class="divider-vertical"></li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="<%= I18n.t :label_menu_admin %>">
      <i class="icon-cog icon-large pull-left"></i>&nbsp;</b>
    </a>
    <ul class="dropdown-menu">
      <% if can? :manage, AdminSetting or can? :edit_admin_settings, AdminSetting %>
        <li class="dropdown">
          <a href="<%= main_app.admin_settings_path %>">
            <!--<i class="icon-cog icon-large pull-left"></i>-->
            <%= I18n.t(:administration) %>
          </a></li>
      <% end %>

      <% if can? :manage, User %>
        <li class="dropdown">
          <a href="<%= main_app.users_path %>">
            <!--<i class="icon-user icon-large pull-left"></i>-->
            <%= I18n.t(:users) %>
          </a></li>
      <% end %>

      <% if can? :manage, AuthMethod %>
        <li class="dropdown"><a href="<%= main_app.auth_methods_path %>">
          <!--<i class="icon-signin icon-large pull-left"></i>-->
          <%= I18n.t(:auth_methods) %></a></li>
      <% end %>
    </ul>
  </li>

  <li class="divider-vertical"></li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="<%= I18n.t :label_menu_master_admin %>">
      <i class="icon-key icon-large pull-left"></i></b>
    </a>
    <ul class="dropdown-menu">
      <% if can? :manage, PeAttribute or can? :create_and_edit_attributes, PeAttribute %>
        <li class="dropdown"><a href="<%= main_app.pe_attributes_path %>">
          <!--<i class="icon-list-ol icon-large pull-left"></i>-->
          <%= I18n.t(:pe_attributes) %></a></li>
        <li class="dropdown"><a href="<%= main_app.attribute_categories_path %>">
          <!--<i class="icon-list-alt icon-large pull-left"></i>-->
          <%= I18n.t(:attribute_categories) %></a></li>
      <% end %>

      <% if can? :manage, Pemodule or can? :create_and_edit_modules, Pemodule %>
        <li class="dropdown"><a href="<%= main_app.pemodules_path %>">
          <!--<i class="icon-th icon-large pull-left"></i>-->
          <%= I18n.t(:projestimate_module) %></a></li>
      <% end %>

      <li class="dropdown"><a href="<%= main_app.technologies_path %>">
        <%= I18n.t(:organization_technology) %></a>
      </li>

      <% if can? :manage, Permission %>
        <li class="dropdown"><a href="<%= main_app.permissions_path %>">
          <!--<i class="icon-check icon-large pull-left"></i>-->
          <%= I18n.t(:all_permissions) %></a></li>
      <% end %>

      <% if can? :manage, Language or can? :create_and_edit_languages, Language %>
        <li class="dropdown"><a href="<%= main_app.languages_path %>">
          <!--<i class="icon-comments icon-large pull-left"></i>-->
          <%= I18n.t(:languages) %></a></li>
      <% end %>

      <!-- TODO add manage permission for translation (and replace Language per Translation -->
      <% if can? :manage_translations, Language %>
        <li class="dropdown"><a href="/translations">
          <!--<i class="icon-comments-alt icon-large pull-left"></i>-->
          <%= I18n.t(:translations) %></a></li>
      <% end %>
      <% if can? :manage, RecordStatus %>
        <li class="dropdown"><a href="<%= main_app.record_statuses_path %>">
          <!--<i class="icon-legal icon-large pull-left"></i>-->
          <%= I18n.t(:record_status) %></a></li>
      <% end %>

      <% if can? :manage, Currency %>
          <li class="dropdown"><a href="<%= main_app.currencies_path %>">
           <%= I18n.t(:currencies) %></a></li>
      <% end %>

      <% if can? :manage, ProfileCategory or can? :create_and_edit_profile_categories, ProfileCategory %>
          <li class="dropdown"><a href="<%= main_app.profile_categories_path %>"> <%= I18n.t(:profile_categories) %></a></li>
      <% end %>

      <% if can? :manage, Profile %>
          <li class="dropdown"><a href="<%= main_app.profiles_path %>"> <%= I18n.t(:profiles) %> </a></li>
      <% end %>
    </ul>
  </li>
</ul>


<ul class="nav pull-right">
  <li class="divider-vertical"></li>

  <li>
    <a href="<%= main_app.edit_user_path(current_user) %>" title="<%= I18n.t 'edit' %>">
      <%= current_user %> > <%= @project.nil? ? "" : @project.title %>
    </a>
  </li>

  <li class="divider-vertical"></li>

  <li>
    <a href="<%= main_app.destroy_user_session_path %>#" data-method="delete" rel="nofollow" title="<%= I18n.t 'logout' %>">
      <i class="icon-off"></i>
    </a>
  </li>

  <li class="divider-vertical"></li>

  <li>
    <a href="<%= load_admin_setting('url_wiki') %>" title="<%= I18n.t 'services' %>" >
      <i class="icon-file"></i>
    </a>
  </li>

  <li class="divider-vertical"></li>

  <li>
    <a href="<%= load_admin_setting('url_service') %>" title="<%= I18n.t 'services' %>">
      <i class="icon-eye-open"></i>
    </a>
  </li>

  <li class="divider-vertical"></li>

  <li>
    <a href="/about" title="<%= I18n.t 'about' %>">
      <i class="icon-asterisk"></i>
    </a>
  </li>

  <li>
    <%= image_tag '/assets/ajax-loader.gif', :class => 'spiner hide' %>
  </li>

</ul>


<ul class="nav">
  <li class="divider-vertical"></li>
</ul>

<ul class="nav">
  <ul class="breadcrumb">
    <% @breacrumbs.each_with_index do |k, i| %>
        <li>
          <% if i != @breacrumbs.length - 1 %>
            <a href="<%= k[1] %>">
              <%= k[0] %>
            </a>
            <span class="divider">/</span>
          <% else %>
            <%= k[0].to_s.html_safe %>
        <% end %>
        </li>
    <% end %>
  </ul>
</ul>