  <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= @page_title ? @page_title : controller.action_name %></title>

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application', 'projestimate_script' %>

  <%= javascript_heads %>
  <%= csrf_meta_tag %>

</head>
<body>

  <%= render 'layouts/modal' %>

  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <div class="row">
          <div class="pull-left">
            <%= link_to(image_tag("/assets/Logo 200x75.png"), '/dashboard') %>
          </div>
          <div class="pull-right" style="margin-top:16px; margin-left: 10px">
            <% if defined?(current_user)  %>
              <%= render 'layouts/send_feedback', :handlers => [:erb], :formats => [:html] %>
            <% end %>
          </div>
          <div style="margin-top:16px" class="pull-right">
            <%= render 'layouts/search_input' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">

        <% if user_signed_in? %>
          <%= render 'layouts/user_account' %>
        <% end %>

      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
<script type="text/javascript">


  $(document).ready(function() {
    $(".output_data").html("<%=raw j(sanitize(display_results, :tags => %w(table tr th td span title h4 strong), :attributes => %w(id class style title colspan rowspan))) %>");
  });

</script>

<%= render 'layouts/notifications' %>