  <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= @page_title ? @page_title : controller.action_name %></title>

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application', 'projestimate_script', 'pager', 'scroll' %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

  <!-- INCLUDE THIS (CHANGE jQUERY PATH) SPARKOM SUPPORT -->
  <script type="text/javascript" src="http://www.spark-angels.com/panserver3/multiwidget/spk_multiwidget.js"></script>

  <%= javascript_heads %>
  <%= csrf_meta_tag %>

</head>
<body>
  <%= render 'layouts/modal' %>

  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <div class="pull-left">
          <% begin %>
            <% if @project %>
              <%= link_to(image_tag("/assets/Logo 200x75.png"), main_app.dashboard_path(@project)) %>
            <% else %>
              <%= link_to(image_tag("/assets/Logo 200x75.png"), main_app.projects_path) %>
            <% end %>
          <% rescue %>
            <%= link_to(image_tag("/assets/Logo 200x75.png"), main_app.projects_path) %>
          <% end %>
        </div>

        <div class="pull-right" style="margin-top:16px; margin-left: 10px">
          <%= render 'layouts/search_input' %>
        </div>

        <div class="pull-right" style="margin-top:16px; margin-left: 10px">
          <% if defined?(current_user)  %>
            <%= render 'layouts/send_feedback', :handlers => [:erb], :formats => [:html] %>
          <% end %>
        </div>

        <!--Support with Sparkom-->
        <div class="pull-right" style="margin-top:16px; margin-left: 10px">
          <%= render 'layouts/sparkom_support' %>
        </div>

      </div>
    </div>
  </div>

  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">

        <% if user_signed_in? %>
          <%= render 'layouts/user_account' %>
        <% end %>

      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <%= yield %>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12 text-center" style="margin-bottom: 30px ">
      </div>
    </div>
  </div>

</body>
</html>

<%= render 'layouts/notifications' %>

<script>

//  var notification = webkitNotifications.createNotification(
//          '48.png',  // icon url - can be relative
//          'Hello!',  // notification title
//          'Lorem ipsum...'  // notification body text
//  );
//
//  // Then show the notification.
//  notification.show();

  // Demande de permission
//$(document).ready(function() {
//
//    if (Notification.permission !== "granted")
//      Notification.requestPermission();
//
//    var notification = new Notification('Notification title', {
//      icon: 'http://cdn.sstatic.net/stackexchange/img/logos/so/so-icon.png',
//      body: "Hey there! You've been notified!Hey there! You've been notified!Hey there! You've been notified!",
//    });
//
//    notification.onclick = function () {
//      window.open("http://stackoverflow.com/a/13328397/1269037");
//    }
//});

//
//    var notification = webkitNotifications.createNotification(
//            '48.png',  // icon url - can be relative
//            'Hello!',  // notification title
//            'Lorem ipsum...'  // notification body text
//    );
//
//    // Then show the notification.
//    notification.show();

//    // Si l’utilisateur a accepté, création et affichage de l’alerte
//    var n = new Notification("Ma première notification !", {
//      body: "Texte de description de ma première notification",
//      icon : "http://www.mondomaine.com/icon.png",
//      tag: "idjeidj"
//    });
//
//    // Au clic sur l’alerte, on la ferme
//    n.onclick = function (e) {
//      n.close();
//    }
</script>
